<template>
  <div class="modal-tranfer">    
    <div class="row">
      <div class="col-lg-8 offset-lg-2" v-if="step === 1">
        <h1 class="tranfer-title">Vacation Points Transfer</h1>
        <form>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Member ID</label>
            <div class="col-sm-5">
              <input type="text" class="form-control">
            </div>
            <div class="col-sm-2" style="padding-left: 5px;">
              <button type="submit" class="btn btn-mdf mt-20 ml-verify" style="padding: 2px 0px; width: 50%; min-width: 70px;">Verify</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Transfer points</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" style="width: 100%;">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Fee per session</label>
            <div class="col-sm-7">
              <label class="col-form-label">1,500 points</label>
            </div>
          </div>
        </form>
        <div class="row mt-4 change-point">
          <div class="col-lg-4 text-center pr-0 pl-3">
            <span class="d-block">100,000</span>Points Now
          </div>
          <div class="col-lg-1 text-center pr-0">
            <img src="@/assets/icon-redeem.png" alt="icon redeem">
          </div>
          <div class="col-lg-3 text-center pl-0">
            <span class="d-block">2,500</span>Transfer points + fee
          </div>
          <div class="col-lg-1 text-center pr-0">
            <img src="@/assets/icon-redeem.png" alt="icon redeem">
          </div>
          <div class="col-lg-3 text-center pl-0">
            <span class="d-block">97,500</span>Balance
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">Back</button>
          </div>
            <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2" v-if="step === 2">
      <h1 class="tranfer-title">Your transfer points detail</h1>
      <h4 class="text-center">It may take a few moments for this transfer points.</h4>
      <div class="row offset-lg-2">
        <label class="col-sm-6 col-form-label">Member's name</label>
        <label class="col-sm-6 col-form-label">Mr.Sample Sample</label>
        <label class="col-sm-6 col-form-label">Transfer points</label>
        <label class="col-sm-6 col-form-label">1,000 points</label>
        <label class="col-sm-6 col-form-label">Member's name</label>
        <label class="col-sm-6 col-form-label">1,500 points</label>
      </div>
      <div class="row mt-4 change-point">
        <div class="col-lg-4 text-center pr-0 pl-3">
          <span class="d-block">100,000</span>Points Now
        </div>
        <div class="col-lg-1 text-center pr-0">
          <img src="@/assets/icon-redeem.png" alt="icon redeem">
        </div>
        <div class="col-lg-3 text-center pl-0">
          <span class="d-block">2,500</span>Transfer points + fee
        </div>
        <div class="col-lg-1 text-center pr-0">
          <img src="@/assets/icon-redeem.png" alt="icon redeem">
        </div>
        <div class="col-lg-3 text-center pl-0">
          <span class="d-block">97,500</span>Balance
        </div>
        <div class="col-lg-8 offset-lg-2 mt-4">
          <div class="row">
            <div class="col-lg-6">
              <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
            </div>
              <div class="col-lg-6">
              <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2 mt-4" v-if="step === 3">
      <h1 class="tranfer-title">Vacation Points Transfer is Successful</h1>
      <h4 class="text-center mb-5">Your points balance 97,500 points</h4>
      <button type="sutton" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">Close</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TranferUserPoint',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    }
  }
}
</script>

