<template>
  <nav class="navbar navbar-expand-lg fixed-top px-lg-4" id="navbar-scroll">
    <div class="menu-pc">
      <router-link class="navbar-brand" to="/"><img src="@/assets/logo -navbar.png" class="logo" alt="logo"></router-link>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </button>-->
    </div>
    <div class="col-xs-6 menu-responsive"><router-link class="navbar-brand" to="/"><img src="@/assets/logo -navbar.png" class="logo" alt="logo"></router-link></div>
    <div class="col-xs-6 text-right menu-responsive">
      <button class="navbar-toggler ml-burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>-->
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </button>
    </div>
    <div class="collapse navbar-collapse scoll-responsive" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex align-items-center ml-auto">
        <li class="nav-item">
          <router-link class="nav-link" to="/" active-class="active" exact>Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/about" active-class="active">About</router-link>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProduct" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product and services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownProduct">
            <router-link class="dropdown-item" to="/guest-experience" active-class="active">Guest Experience</router-link>
            <router-link class="dropdown-item" to="/limousine" active-class="active">Limousine</router-link>
            <router-link class="dropdown-item" to="/hotel-resort" active-class="active">Hotels & Resorts</router-link>
            <router-link class="dropdown-item" to="/dining" active-class="active">Dining</router-link>
            <router-link class="dropdown-item" to="/club-lounge" active-class="active">Club & Lounge</router-link>
            <router-link class="dropdown-item" to="/shopping" active-class="active">Shopping</router-link>
            <router-link class="dropdown-item" to="/spa-wellness" active-class="active">Spa & Wellness</router-link>
            <router-link class="dropdown-item" to="/excursions-activities" active-class="active">Excursions & Activities</router-link>
          </div>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/contact" active-class="active">Contact</router-link>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVacation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vacation point exchange
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownVacation">
            <!--<router-link class="dropdown-item" to="/tranfer" active-class="active">Tranfer</router-link>-->
            <router-link class="dropdown-item" to="/tranfer-user" active-class="active">Member transfer</router-link>
            <router-link class="dropdown-item" to="/topup" active-class="active">Topup</router-link>
            <router-link class="dropdown-item" to="/borrow-point" active-class="active">Borrow point</router-link>
          </div>
        </li>
        <li class="nav-item nav-item-language dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EN
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLang">
            <a class="dropdown-item dropdown-item-lang" href="#">English</a>
            <a class="dropdown-item dropdown-item-lang" href="#">ภาษาไทย</a>
            <a class="dropdown-item dropdown-item-lang" href="#">Chinese</a>
          </div>
        </li>
        <li class="nav-item">
          <router-link to="/signin/login"><button class="btn btn-login">Login</button></router-link>
        </li>
        <li class="nav-item dropdown">
          <div class="d-flex text-center nav-link-logged" id="navbarDropdownProduct" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="p-2 flex-fill">
              <img src="@/assets/Profile-3.png" alt="user User001" style="width: 60%;">
              <span class="badge badge-pill badge-danger">1</span>   
            </div>
            <div class="p-2 flex-fill">
              Username<br />
              1,000 point
            </div>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownProduct">
            <router-link class="dropdown-item" to="/user/profile">
              <div class="d-flex align-items-center text-center">
                <div class="p-2 px-3 flex-fill"><img src="@/assets/Profile-3.png" alt="user User001"></div>
                <div class="p-2 px-3 flex-fill">
                  Username<br />
                  1,000 point<br />
                  Gold member
                </div>
              </div>
            </router-link>
            <router-link class="dropdown-item" to="/user/profile" active-class="active">Home</router-link>
            <router-link class="dropdown-item" to="/user/terms" active-class="active">Terms & Condition</router-link>
            <router-link class="dropdown-item" to="/user/statement" active-class="active">Point statement</router-link>
            <router-link class="dropdown-item" to="/user/history" active-class="active">Point history</router-link>
            <router-link class="dropdown-item" to="/user/using" active-class="active">In progress</router-link>
            <router-link class="dropdown-item" to="/user/topup-history" active-class="active">Top up history</router-link>
            <router-link class="dropdown-item" to="/user/inform-transfer" active-class="active">Inform Topup</router-link>
            <router-link class="dropdown-item" to="/user/borrow-history" active-class="active">Borrow history</router-link>
            <router-link class="dropdown-item" to="/user/tranfer-history" active-class="active">Transfer history</router-link>
            <router-link class="dropdown-item" to="/user/message-box" active-class="active">Inbox</router-link>
            <router-link class="dropdown-item" to="/user/change-password" active-class="active">Change password</router-link>
            <router-link class="dropdown-item" to="/signin/login" active-class="active">Log out</router-link>
            <!--<button @click="showLogin">Log out</button>-->
          </div>
        </li>
      </ul>
    </div>

  <!-- Modal Component -->
  <b-modal ref="modalLogin" hide-footer hide-header size="lg">
    <div class="row">        
      <!--  modal login -->
      <div class="col-lg-6 offset-lg-3">
        <div class="text-center my-4">
          <img src="@/assets/logo.jpg" height="100px" alt="logo" style="margin-top: 4rem;">
        </div>
        <div class="box-login">
          <div class="text-center mb-5">
            <h1 class="login-title">Login</h1>
            <p>Nice to see you! Enter your username and password to login</p>
          </div>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                </div>
              </div>
            </div>
            <router-link to="/signin/condition">
              <button type="submit" class="btn btn-login btn-lg mt-4 btn-block">Next</button>
            </router-link>
          </form>
        </div>
      </div>
    </div>
  </b-modal>

  </nav>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    home () {
      this.$router.push({ path: '/home' })
    },
    showLogin () {
      this.$refs.modalLogin.show()
    },
    hideLogin () {
      this.$refs.modalLogin.hide()
    }
  }
}
</script>