<template>
  <form>
    <div class="form-group row">
      <label for="checkOut" class="col-sm-4 col-form-label">เวลาที่เข้าใช้บริการ</label>
      <div class="col-sm-8">
        <datepicker input-class="form-control"></datepicker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">โรคประจำตัว</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ความผิดปกติทางด้านร่างกาย</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 my-3">
        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('step-btn', 2)">ยืนยัน</button>
      </div>
    </div>
  </form>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
  name: 'RedeemSpaForm',
  components: {
    Datepicker
  }
}
</script>

