<template>
  <div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 mt-4 text-center point-degail-modal">
        <h2 class="text-danger">Borrow points 10,000 points</h2>
        <div class="row offset-lg-2 mt-4">
          <div class="col-sm-5 text-left w-50"><p>Borrow points</p></div>
          <div class="col-sm-5 text-left w-50"><p>: 10,000 points</p></div>
        </div>
        <div class="row offset-lg-2">
          <div class="col-sm-5 text-left w-50"><p>Fee per session</p></div>
          <div class="col-sm-5 text-left w-50"><p>: 1,500 points</p></div>
        </div>
        <div class="mt-3">
          Borrow on 12/11/2562 <br />
          <hr style="width: 100px" class="mb-0" />
          <p class="text-danger pt-2">Valid until 12/11/2563</p>
        </div>
        <div class="row tranfer-detail">
          <table class="table mt-3 text-center">
            <thead class="thead">
              <tr>
                <th>Vacation Points Transfer</th>
                <th>Fee per session</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Up to 30,000 points</td>
                <td>1,500 points</td>
              </tr>
              <tr>
                <td>30,001 - 50,000 points</td>
                <td>2,500 points</td>
              </tr>
              <tr>
                <td>50,001 - 100,000 points</td>
                <td>5,000 points</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-4 my-3">
        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalBorrowHistory',
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    }
  }
}
</script>

