<template>
  <div>
    <div v-if="step !== 3">
      <h2 class="text-center mt-3">แลกสิทธ์เข้าใช้บริการสปา<br />
      Oasis Spa</h2>
      <h4 class="text-center my-4">จองห้องพัก Deluxe 2 วัน 1 คืน</h4>
    </div>
    <div class="row" v-if="step === 1">
      <div class="col-lg-8 offset-lg-2 mt-4">
        <RoomForm v-on:step-btn="step = $event" v-if="type === 1" />
        <SpaForm v-on:step-btn="step = $event" v-if="type === 2" />
      </div>
    </div>

    <div class="modal-tranfer">
      <div class="row change-point" v-if="step === 2">
        <img src="@/assets/icon-redeem.png" alt="icon redeem">
        <div class="col-lg-6 text-center pr-5"><span class="d-block">10,000</span> คะแนน</div>
        <div class="col-lg-6 text-center pl-5"><span class="d-block">10,000</span> คะแนน</div>
        <div class="col-lg-8 offset-lg-2 mt-4">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 my-3">
              <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">ยืนยัน</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="changed-point text-center mt-3" v-if="step === 3">
      <h4>ขอบคุณสําหรับการใช้สิทธิ์</h4>
      <h5>ใช้โค้ดนี้เพื่อทําการแลก</h5>
      <p><span>ABC123QAZ</span> หรือ Application <img src="@/assets/icon-tnc.png" /></p>
      <hr style="width: 200px" />
      <p class="font-size-sm">เหลือเวลาอีก 360 ชั่วโมง 59 นาที 59 วินาที</p>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 mt-4">
          <div class="row note">
            <div class="col-lg-3">
              หมายเหตุ :
            </div>
            <div class="col-lg-9 text-left">
              กรุณารอการติดต่อกลับจากทางเจ้าหน้าที่ หรือ รอการแจ้งเตือนผ่านระบบแอพพลิเคชั่น
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 offset-lg-3 my-3">
              <button type="sutton" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">ปิด</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RoomForm from '@/components/modals/modalRedeem/forms/room'
import SpaForm from '@/components/modals/modalRedeem/forms/spa'

export default {
  name: 'FormRedeemSpa',
  components: {
    RoomForm,
    SpaForm
  },
  data() {
    return {
      step: 1,
      type: 2 // 1=room, 2=spa
    }
  },
  methods: {
    handleCloseClick() {
      this.step = 1
      this.$emit('click', this)
    }
  }
}
</script>

