<template>
  <div class="card card-topup">
    <span class="topup-fix">Borrow points 100 points</span>
    <div class="card-body text-center">
      <img src="@/assets/img-topup.jpg" class="img-fluid my-4" />
      <h6 class="card-title">Experience Club</h6>
      <p class="font-size-sm">
        Borrow points 100 points<br />
        =<br />
        Experience Club 100 points
      </p>
      <div class="row">
        <div class="col-lg-6"><button type="button" class="btn hvr-sweep-to-right w-100" @click="handleModal(1)">Borrow</button></div>
        <div class="col-lg-6"><button type="button" class="btn hvr-sweep-to-right w-100" @click="handleModal(2)">Details</button></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BorrowPointCard',
  methods: {
    handleModal (type) {
      this.$emit('clicked', {
        type: type
      })
    }
  }
}
</script>

