<template>
  <!-- swiper -->
  <swiper :options="swiperOption">
    <swiper-slide><img src="@/assets/New concept point pic-1.jpg" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/New concept point pic-2.jpg" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/New concept point pic-3.jpg" class="img-fluid" /></swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
// require styles
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'PhotoSlide',
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      swiperOption: {
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true
        }
      }
    }
  }
}
</script>
