<template>
  <div class="p-5">
   <h3 class="mb-4 pb-3 border-bottom">Reply</h3>
    <div class="row">
      <div class="col-lg-12">
        <form>
          <div class="form-group row">
            <label class="col-sm-2">Name</label>
            <div class="col-sm-10">Mr. devid Long</div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">Subject</label>
            <div class="col-sm-10">Point</div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Detail</label>
            <div class="col-sm-10">
              <div class="p-3 pt-4 mb-2 reply-message">
                <div class="message-title">
                  <span class="sender">Me</span>
                  <span class="time">11:11</span>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Reply</label>
            <div class="col-sm-10">
              <textarea rows="4" class="form-control"></textarea>
              <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm p-1 mt-3">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ReplyToMessage'
}
</script>

