<template>
  <div class="row">
    <div class="col-lg-8 offset-lg-2" v-if="step === 1">
      <h3 class="mt-3 pb-2 mb-4 border-bottom">Top up</h3>
      <div class="form-group row">
        <label for="priceInp" class="col-sm-4 col-form-label">Credit (THB)</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="priceInp">
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-form-label">Get points</label>
        <label class="col-sm-8 col-form-label">100 points</label>
      </div>
      <h6 class="mt-3">Payment method</h6>
      <b-tabs>
        <b-tab active>
          <template slot="title"><img src="@/assets/icon-bookbank.png" alt="icon bookbank"></template>
          <p>Bank Transfer</p>
          <BookbankForm />
        </b-tab>
        <b-tab title="Tab 2">
          <template slot="title"><img src="@/assets/icon-craditcard.png" alt="icon craditcard"></template>
          <p>Cradit Card</p>
          <CraditcardForm />
        </b-tab>
        <b-tab title="Tab 3">
          <template slot="title"><img src="@/assets/icon-promptpay.png" alt="icon promptpay"></template>
          <p>PromptPay</p>
          <PromptpayForm />
        </b-tab>
      </b-tabs>
      <h6 class="mt-5">Terms & Condition</h6>
      <ul class="font-size-sm">
        <li>Experience Club Co., Ltd. is a company who responsible for managing, coordinating guest’s reservation and providing service requests only.</li>
        <li>Local rules and regulations must be obeyed in accordance to Service Provideror Owner of the Area.</li>
        <li>Service Provider or Owner of the Area reserved all rights to keep terms and condition updated and must notify all changes to Experience Club within 30
        days prior to launching date (or in the case of urgent modifications, must be inform not less than 7 business working days.)</li>
        <li> In the event of insecurities or disasters, Service Provider or Owner of the area is to be solely responsible.</li>
      </ul>
      <div class="row">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('close-modal', false)">Cancel</button>
        </div>
          <div class="col-lg-6">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Confirm</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2" v-if="step === 2">
      <h3 class="mt-3 pb-2 mb-4 text-center">Your top up details</h3>
      <h4 class="mt-3 pb-2 mb-4 text-center">It may take a few moments to update your points. Your points are under the process</h4>
      <div class="row offset-lg-1">
        <label class="col-sm-6 col-form-label w-50">Top up</label>
        <label class="col-sm-6 col-form-label w-50">: 100 baht</label>
      </div>
      <div class="row offset-lg-1">
        <label class="col-sm-6 col-form-label w-50">Get points</label>
        <label class="col-sm-6 col-form-label w-50">: 100 points</label>
      </div>
      <div class="row offset-lg-1">
        <label class="col-sm-6 col-form-label w-50">Points balance</label>
        <label class="col-sm-6 col-form-label w-50">: 100,100 points</label>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
        </div>
          <div class="col-lg-6">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Confirm</button>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-2 text-center" v-if="step === 3">
      <h2 class="mt-3 pb-2 mb-4">Thank you!! for your service</h2>
      <h4 class="mt-3 pb-2 mb-4">Your Points balance 100,100 points</h4>
      <div class="row">
        <a href="#/user/inform-transfer" class="ml-auto mr-auto">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 px-5 mb-2 w-100">Close and Inform Top up</button>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import BookbankForm from '@/components/BookbankForm'
import CraditcardForm from '@/components/CraditcardForm'
import PromptpayForm from '@/components/PromptpayForm'

export default {
  name: 'BorrowPoint',
  components: {
    BookbankForm,
    CraditcardForm,
    PromptpayForm
  },
  data() {
    return {
      step: 1,
    }
  }
}
</script>

