
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,600,900');
$title-color: #876e4f;
$card-color: #dbb96a;

#app {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: $title-color;
  padding-top: 105px;
}
div, a {
  font-family: 'Kanit', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.h1, h1 {
  font-size: 2rem;
}
strong {
  font-weight: 600;
}
dl {
  font-size: .8rem;
  &>dt {
    font-weight: 300;
  }
}
router-link, a {
  text-decoration: none !important;
}
div.border {
  border: 1px solid $card-color !important;
}
.col-yellow {
  color: $card-color;
}
.btn-mdf {
  background: #dbb96a !important;
  border-radius: 3px;
  color: #fff !important;
  font-weight: 600;
  padding: 2px 0;
  min-width: 150px;
}
.form-control:disabled, .form-control[readonly] {
  background-color: transparent !important;
  opacity: 1;
}
.form-group {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  & label {
    font-weight: 100;
  }
  & .form-control {
    color: $title-color;
    height: 2rem;
    padding: .375rem .75rem;
    font-size: .8rem;
    border: 1px solid $card-color;
  }
  & textarea {
    height: auto !important;
  }
}
.border,
.border-bottom {
  border-color: $card-color !important;
}
.badge {
  font-weight: normal !important;
}
.title {
  color: $title-color;
  text-align: center;
  &-border-b {
    position: relative;
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      height: 1px;
      background: #dbb96a;
      width: 130px;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
}
.border-mdf {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 1px;
    background: $card-color;
    width: 200px;
    transform: translate(-50%, 0);
  }
}
.how-to-use-point {
  list-style: none;
  margin: 0;
  padding: 0;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &>li {
    float: left;
    min-height: 320px;
    padding: 15px;
    text-align: center;
    width: 25%;
    position: relative;

    & .text-or {
      position: absolute;
      top: 80px;
      left: -15px;
      font-size: 1.3rem;
    }

    &>img {
      margin-bottom: 1.5rem;
      width: 80%;
    }
  }
}
.font-size-sm {
  font-size: .8rem;
}
.font-size-lg {
  font-size: 1.5rem;
}
.font-size-code {
  font-size: 1.5rem;
  font-weight: 900;
}
// Table
.table-mdf {
  border: 0;
  margin: 0;
  font-size: .8rem;
  & thead th {
    font-weight: 400;
    border-top: 0;
    padding: 5px .75rem;
  }
  & td, 
  & th {
    border: 0;
    padding: 5px .75rem;
    font-weight: 400;

    &>button {
      font-size: .7rem;
      border: 0;
      color: #fff;
      border-radius: 5px;
      font-weight: 300;
      background: $card-color;
      padding: 1px 15px;
    }
  }

  
}
.flex-fill {
  cursor:  pointer !important;
}
// Header
.navbar {
  background: #000;
  -webkit-box-shadow: 0px 1px 16px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 16px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 16px -1px rgba(0,0,0,0.75);

  & img.logo {
    height: 60px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
  }
  & .nav-item {
    margin-right: 20px;
  }
  & .nav-item-language {
    &>a.nav-link {
      color: #fff;
    }
  }
  & .navbar-nav .dropdown-menu {
    background: #000;
    top: 106%;
    padding: 15px;
    left: auto;
    right: 0;
    & a.dropdown-item {
      color: $card-color;
      border-bottom: 1px solid $card-color;
      text-align: left;
      padding: 5px 0;
      min-width: 200px;
      &-lang {
        min-width: auto;
        text-align: center;
      }
      &:last-child {
        border: 0;
      }
      &:hover,
      &.active {
        background: transparent;
        color: #fff;
      }
    }
  }
  & .nav-link {
    color: #dcb965;
    font-size: 1.2rem;
    &-logged {
      color: #fff;
      position: relative;
      & .text-user {
        color: #fff;
      }
      & .badge {
        position: absolute;
        left: 65px;
        top: 5px;
      }
    }
    &.active {
      border-bottom: 2px solid;
    }
  }

  & .btn-login {
    background: $card-color;
    min-width: 100px;
  }
}
.fix-h {
  & img.logo {
    height: 65px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar .nav-item {
    margin-right: 5px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 1440px) {
  .navbar .nav-item {
    margin-right: 5px;
    font-size: 18px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }
  .arrow-left {
    display: none;
  }
  .arrow-right {
    display: none;
  }
}
// ========= Components ===========
// Box
.hero {
  padding: 5rem 0;
}
.hero-special,
.hero-category,
.hero-reward,
.hero-interesting {
  background: #e9e9e9;
}
// ========= Components ===========
// Card: Category, Item
.lineh-2 {
  line-height: 2rem;
}
.card {
  border-color: $card-color;
  border-radius: 0;
  color: $title-color;
  margin: 15px 0;
  position: relative;

  &-title {
    font-weight: 600;
    margin-top: 15px;
  }

  &-body {
    position: relative;
  }

  &>.time {
    font-size: .8rem;
    background: $card-color;
    border-radius: 3px;
    color: #fff;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2px 10px;
    position: absolute;
    top: -15px;
  }
  & .price {
    position: absolute;
    text-align: right;
    right: 0;
    top: 5px;
    line-height: 1rem;
    &>span {
      font-size: 2rem;
      font-weight: 900;
    }
  }
  & .btn {
    background: $card-color;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    padding: 2px 0;
    &.hvr-sweep-to-right::before {
      border-radius: 3px;
    }
  }

  &-category,
  &-item {
    -webkit-box-shadow: 5px 5px 26px -9px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 26px -9px rgba(0,0,0,1);
    box-shadow: 5px 5px 26px -9px rgba(0,0,0,1);
    & .card-body {
      &>.card-text-special {
        color: red;
      }
      &>.card-title {
        color: #000;
      }
      &>p.card-text {
        color: #afafaf;
        line-height: 1rem;
        font-size: .8rem;
        font-weight: 600;
        min-height: 6rem;
      }
      &>a.btn {
        border: 0;
        background: transparent;
        color: $title-color;
        font-weight: normal;
      }
    }
  }
  &-item {
    & .card-body {
      & h6.card-text {
        color: #afafaf;
        min-height: 2rem;
      }
      &>p.card-text {
        font-weight: 100;
        min-height: 4rem;
      }
    }
  }
  &-partner-tranfer {
    border: 1px solid #f3f3f3;
    margin-top: 15px;
    padding: 25px;
    -webkit-box-shadow: 5px 5px 26px -9px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 26px -9px rgba(0,0,0,1);
    box-shadow: 5px 5px 26px -9px rgba(0,0,0,1);
    & .btn {
      border-radius: 10px;
      font-size: 1.2rem;
      background: $card-color;
      color: #fff;
      padding: 2px 0;
      min-width: 220px;
      margin-right: 15px;
    }
  }
  &-topup {
    position: relative;
    & .font-size-sm {
      line-height: .9rem;
    }
    & .topup-fix {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translate(-50%, 0);
      background: red;
      text-align: center;
      color: #fff;
      border-radius: 3px;
      font-size: 1.2rem;
      padding: 2px 10px;
      width: fit-content;
    }
  }
}

.pagination-mdf {
  justify-content: center;
  margin-top: 3rem;
  & a {
    border: 0;
    background: transparent;
    color: #000;
    font-size: 1.4rem;
    padding: 0.5rem 2.75rem;
  }
}

.search-reward-form {
  & .form-control {
    border: 1px solid $title-color;
    font-weight: 100;
    height: calc(2.7rem + 2px);
    &::placeholder {
      color: $title-color;
      font-size: 1.2rem;
    }
  }

  & .input-group  {
    & .btn {
      background: $card-color;
      color: #fff;
      border-color: $card-color;
      margin-left: 5px;
      border-radius: 5px;
    }
  }
}

// Reward description
.reward-description {
  & p {
    &.price {
      font-weight: 600;
      &>span {
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }

}

// Btn
.hvr-sweep-to-right {
  border: 0;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.3rem;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &::before {
    border-radius: 10px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $title-color;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #fff;
}

// Modal
.modal {
  &-body {
    & .form-group {
      margin-bottom: 0;
      & label {
        font-weight: 100;
      }
      & .form-control {
        border: 1px solid $title-color;
      }
    }
  }

  &-tranfer {
    & .tranfer-title {
      text-align: center;
      margin: 2rem 0;
    }
    & .tranfer-change {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    & form {
      &>.form-group>label.col-form-label {
        font-size: 1.2rem;
      }
    }
    & .change-point {
      line-height: 2rem;
      font-size: 1.2rem;
      margin-top: 3rem;
      position: relative;
      & span,
      & input {
        font-size: 34px;
        font-weight: 900;
      }
      & span.d-block {
        padding: 7px 0;
      }
      & input {
        color: $title-color;
        text-align: center;
        border: 1px solid $title-color;
        height: calc(2.25rem + 12px);
        width: 200px;
        margin: 0 auto;
      }
      & img {
        position: absolute;
        left: 50%;
        top: 10%;
        height: 30px;
        transform: translate(-50%, 0);
      }
      & .btn-mdf {
        font-size: 1.3rem;
        width: 100%;
      }
    }
  }
}

.bg-welcome {
  background: #eaeeed;
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  & .txt-welcome {
    color: #2b2e34;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  & .txt-sub-welcome {
    color: #2b2e34;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
}

// ==========================


.reward-detail {
  color: $title-color;
  
  & .btn {
    background: $card-color;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    padding: 2px 0;
  }
}

.about {
  background: #000;
  color: #fff;
  padding: 0;
  text-align: center;

  & h1 {
    color: $card-color
  }
  & .about-text {
    font-size: 20px;
    font-weight: 400;
  }
  & .line {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

footer,
.footer {
  background: $title-color;
  color: #fff;
  padding-top: 1rem;

  & .download-app-panel {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    & .store-panel {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
    }
  }

  & a {
    color: #fff;
  }
  & ul li a {
    text-decoration: none !important;
  }
  & ul li a:hover {
    color: #fff !important;
    text-decoration: none !important;
  }

  & .copy-rights {
    background: #000;
    padding: 25px 0;
    text-align: center;
  }
}

.changed-point {
  & h3 {
    font-weight: normal;
  }
  & img {
    vertical-align: inherit;
  }
  & p {
    font-size: 1.5rem;
    &>span {
      font-size: 2.5rem;
      font-weight: 900;
    }
    &.font-size-sm {
      font-size: .9rem;
    }
  }

  & .note {
    font-size: 1rem;
    font-weight: 400;
  }
}

// User
.user {
  margin-bottom: 5rem;
}
.sidebar-profile {
  position: relative;
  & .img-prof {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 15px auto;
    position: relative;
    &-gold {
      background: #a77b41; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #a77b41 0%, #a77b41 50%, #faf5cb 67%, #a77b41 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #a77b41 0%,#a77b41 50%,#faf5cb 67%,#a77b41 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #a77b41 0%,#a77b41 50%,#faf5cb 67%,#a77b41 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a77b41', endColorstr='#a77b41',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    &-diamond {
      background: #3748a1; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #3748a1 0%, #3748a1 50%, #6acadf 67%, #3748a1 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #3748a1 0%,#3748a1 50%,#6acadf 67%,#3748a1 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #3748a1 0%,#3748a1 50%,#6acadf 67%,#3748a1 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3748a1', endColorstr='#3748a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    &-silver {
      background: #939598; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #939598 0%, #939598 50%, #f5f5f5 67%, #939598 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #939598 0%,#939598 50%,#f5f5f5 67%,#939598 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #939598 0%,#939598 50%,#f5f5f5 67%,#939598 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939598', endColorstr='#939598',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    &>img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
.sidebar-menu {
  font-size: .9rem;
  margin-top: 15px;
  & a {
    border: 0;
    color: $title-color;
    padding: 10px 20px;
    &.active {
      background: $card-color;
      color: #fff;
    }
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
  &-gold {
    & a.active {
      background: #a77b41; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #a77b41 0%, #a77b41 50%, #faf5cb 67%, #a77b41 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #a77b41 0%,#a77b41 50%,#faf5cb 67%,#a77b41 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #a77b41 0%,#a77b41 50%,#faf5cb 67%,#a77b41 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a77b41', endColorstr='#a77b41',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  &-diamond {
    & a.active {
      background: #3748a1; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #3748a1 0%, #3748a1 50%, #6acadf 67%, #3748a1 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #3748a1 0%,#3748a1 50%,#6acadf 67%,#3748a1 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #3748a1 0%,#3748a1 50%,#6acadf 67%,#3748a1 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3748a1', endColorstr='#3748a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  &-silver {
    & a.active {
      background: #939598; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #939598 0%, #939598 50%, #f5f5f5 67%, #939598 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #939598 0%,#939598 50%,#f5f5f5 67%,#939598 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #939598 0%,#939598 50%,#f5f5f5 67%,#939598 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939598', endColorstr='#939598',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
}
.card-user {
  height: 130px;
  position: relative;
  & img,
  & .title {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
  }
  & img {
    height: 55px;
    top: 40%;
  }
  & .title {
    left: 30%;
    width: 68%;
    text-align: left;
    font-weight: 300;
    padding-left: 18px;
    font-size: 14px;
    &>span {
      font-size: .9rem;
      text-align: right;
      &.txt-point {
        border-top: 1px solid $card-color;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: -10px;
        &-green {
          border-color: #8bc832;
        }
        &-blue {
          border-color: #4cbdef;
        }
        &-red {
          border-color: #f05757;
        }
        &.border-green {
          border-top: 1px solid $card-color;
        }
      }
    }
  }
}
.profile-fm {
  & .form-group label {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.tabs {
  & .nav-tabs {
    border: 0;
    margin: 15px 0;
    & a {
      &.active {
        background: transparent;
        border: 1px solid $card-color;
        border-radius: 5px;
      }
      &>img {
        height: 20px;
      }
    }
  }
}

// Swiper
.swiper-container {
  margin: 0 40px;
}
.swiper-button-prev, .swiper-button-next {
  width: 42px !important;
  background-size: 15px 30px !important;
  border: 1px solid $card-color !important;
  border-radius: 50% !important;
}

.swiper-button-next {
  right: 5px !important;
}
.swiper-button-prev {
  left: 5px !important;
}

// input file mdf 
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer !important;
  width: 100%;
  & .btn {
    border: 0;
    color: #fff;
    background-color: #dbb969;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    width: 100%;
  }
  
  & input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
select.select-mdf {
  border-radius: 0;
  border: 2px solid #876e4d;
  color: #876e4d;
  font-size: 1.5rem;
}
// Reply Message
.reply-message {
  border: 1px solid $title-color;
  & .message-title {
    position: relative;
    border-bottom: 1px solid $title-color;
    &>span {
      font-size: .7rem;
      color: #b38102;
      position: absolute;
      top:-20px;
      &.time {
        right: 0;
      }
      &.sender {
        left: 0;
      }
    }
  }
}
// Signin
.signin {
  background: #000;
  min-height: 100vh;
  margin-top: -105px;

  & .box-login {
    background: #fff;
    padding: 3rem 5rem;
    color: #000;
    & .login-title {
      padding-bottom: 3rem;
      position: relative;
      &::after {
        position: absolute;
        content: ' ';
        bottom: 15px;
        left: 50%;
        width: 80px;
        height: 4px;
        background: $card-color;
        transform: translate(-50%, 0);
      }
    }
    & .form-control {
      font-size: 1rem;
      height: 3rem;
      border-color: $title-color;
    }
    & .form-text,
    & label {
      font-size: .8rem;
      &>a {
        color: #000;
      }
    }
    & .btn-login {
      color: #000;
      background-color: $card-color;
      border-color: $card-color;
    }
  }
}


// Modal
.point-degail-modal {
  & p {
    line-height: 1rem;
  }
}

.arrow-left {
  width: 50px;
  height: 50px;
  margin-top: 250px;
  cursor: pointer;
}
.arrow-right {
  width: 50px;
  height: 50px;
  margin-top: 250px;
  cursor: pointer;
}

// Guest Experience
.guest-experience {
  background: #000;
  color: #fff;
  & h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
    margin-bottom: 0px;
  }
  & h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }
  & .line {
    width: 100%;
  }
  & .line img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 3px;
    text-align: center;
  }
  & .text-detail {
    color: #d9b76a;
    font-size: 21px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// Reward
.reward {
  & .btn-search {
    color: #fff;
    background-color: #d9b76a;
    background-image: none;
    border-color: #d9b76a;
    width: 100%;
    height: 45px;
    font-size: 24px;
    text-align: center;
  }
  & .title {
    color: #876e4f;
    text-align: center;
    margin-top: 4rem;
  }
  & .sub-title {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 20px;
    font-size: 18px;
  }
  & .card {
    border-radius: 10px;
  }
  & .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 185px;
    max-height: 185px;
  }
  & .btn-dining {
    color: #fff !important;
    background: #e1b86a !important;
    padding: 5px 20px !important;
    font-size: 14px;
  }
  & .card-text-describe {
    color: #000;
  }
  & .bold {
    font-weight: 400;
  }
}

.special-month {
  font-weight: 400;
  & .head-txt {
    font-size: 32px;
  }
  & p.point {
    font-weight: 600;
  }
  & p.point label {
    font-weight: 400;
  }
  & .btn-mdf {
    width: 100%;
  }
  & hr {
    color: #876e4f;
    border: 0.5px solid;
  }
  & .head-info {
    font-size: 21px;
  }
}

.hotel-resort-detail {
  & .head-txt {
    font-size: 32px;
  }
  & .head-info {
    font-size: 24px;
    font-weight: 400;
  }
  & .detail-text {
    font-size: 18px;
  }
  & .btn-mdf {
    width: 100%;
  }
  & div.border-room {
    border: 0.5px solid #dbb96a !important;
    margin-top: -10px;
    margin-bottom: 5px;
  }
  & .head-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  & p.room-detail {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

.limousine-detail {
  & .head-txt {
    font-size: 32px;
  }
  & .head-info {
    font-size: 24px;
    font-weight: 400;
  }
  & .btn-mdf {
    width: 100%;
  }
  & .detail-text {
    font-size: 18px;
    font-weight: 400;
  }
  & .detail-text label {
    font-size: 38px;
    font-weight: 600;
  }
}

.available-point-redemption-detail {
  & .head-txt {
    font-size: 32px;
  }
  & .head-info {
    font-size: 24px;
    font-weight: 400;
  }
  & .btn-mdf {
    width: 100%;
  }
  & .detail-text {
    font-size: 18px;
    font-weight: 400;
  }
  & .detail-text label {
    font-size: 38px;
    font-weight: 600;
  }
  & p.discount-text {
    color: red;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0px;
  }
}

.medical-detail {
  & .title {
    color: #876e4f;
    text-align: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  & .head-txt {
    font-size: 32px;
  }
  & .head-info {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  & .btn-mdf {
    width: 100%;
  }
  & .detail-text {
    font-size: 18px;
    font-weight: 400;
  }
  & .detail-ex {
    margin-bottom: 0px;
  }
}

.tranfer-detail {
  & table {
    text-align: center;
    font-size: 14px;
  }
  & .table {
    font-weight: 100;
  }
  & .thead {
    background: #856e50 !important;
    color: #fff;
  }
  & .table thead th {
    padding: 5px;
    vertical-align: bottom;
    border: 1px solid #856e50;
    font-weight: 100;
  }
  & .table td {
    padding: 5px;
    vertical-align: top;
    border: 1px solid #856e50;
    color: #856e50;
  }
}

.btn-grey {
  background-color: #99937f !important;
}
div.btn {
  cursor: pointer !important;
}
.modal-font label {
  font-size: 12px;
}
.border-user {
  border-radius: 5px;
  width: 100%;
}
.pointer {
  cursor: pointer !important;
}
.scollbar-condition {
  overflow-y: scroll;
  height: 300px;
}
.border-user {
  border-right: 1px solid #dee2e6;
}
.arrow-1 {
  width: 50px;
  margin-right: -50px;
}
.arrow-2 {
  width: 50px;
  margin-left: -15px;
}
.p-search {
  padding-right: 0px;
}
.w-table {
  width: 65% !important;
}



//NAVBAR RESPONSIVE
@media only screen and (min-width: 1024px) and (max-width: 1199px) { // ipad pro++
  .menu-responsive {
    display: none;
  }
  .navbar .btn-login {
    min-width: 70px;
    font-size: 14px;
  }
  .navbar .nav-item {
    margin-right: 0px;
    font-size: 14px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .menu-pc {
    display: initial;
  }
  .menu-responsive {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1920px) { // labtop to pc
  .menu-pc {
    display: initial;
  }
  .menu-responsive {
    display: none;
  }
}
@media only screen and (max-width: 800px) { // hide menu on tablet
  .menu-pc {
    display: none;
  }
  .menu-responsive {
    display: initial;
  }
}


// RESPONSIVE
@media only screen and (max-width: 800px) {
  .responsive {
    display: none;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #d0d0d0;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-left: 20px;
  }
  .ml-burger {
    margin-left: 480px;
  }
  .fix-h img.logo {
    height: 60px;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }  
  .change .bar2 {opacity: 0;}  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .fixed-top {
    min-height: 90px;
  }
  .scoll-responsive {
    max-height: 300px;
    overflow-y: scroll;
  }
  .reward .btn-search {
    width: 50px;
    height: 45px;
    font-size: 20px;
  }
  .head-txt {
    margin-top: 20px;
  }
  .reward .card-img-top {
    min-height: 350px;
    max-height: 350px;
  }
  .modal-tranfer .change-point span.d-block {
    margin-top: 30px;
  }
  .card .btn {
    margin-top: 10px;
  }
  .border-user {
    border-right: 0px solid #dee2e6 !important;
  }
  .card-user img {
    height: 55px;
    top: 40%;
    margin-left: -17px;
  }
  .card-user .title {
    left: 38%;
    width: 66%;
    padding-left: 0px;
  }
  .card-user .title > span.txt-point {
    border-top: none;
    text-align: left;
  }
  .card-user .title > span {
    font-size: .9rem;
    text-align: left;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .ml-baht {
    margin-left: -20px;
  }
  .about .line {
    width: 300px;
  }
  .arrow-1 {
    margin-right: 20px;
  }
  .menu-user {
    will-change: initial !important;
    position: absolute;
    left: 0px;
    transform: none !important;
    width: 100% !important;
    top: 23px !important;
  }
  .arrow-menu {
    width: 3%;
    margin-left: 600px;
  }
}
@media only screen and (max-width: 768px) {
  .card-user img {
    height: 55px;
    top: 40%;
    margin-left: -10px;
  }
  .card-user .title {
    left: 38%;
    width: 66%;
    padding-left: 0px;
  }
  .card-user .title > span.txt-point {
    border-top: none;
    text-align: left;
  }
  .card-user .title > span {
    font-size: .9rem;
    text-align: left;
  }
  .min-w-table {
    min-width: 550px;
  }
  .ml-burger {
    margin-left: 430px;
  }
  .card-user .title {
    left: 40%;
    width: 70%;
    padding-left: 10px;
  }
  .arrow-menu {
    width: 3%;
    margin-left: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .min-w-table {
    min-width: 520px;
  }
  .ml-burger {
    margin-left: 275px;
  }
  .arrow-menu {
    width: 4%;
    margin-left: 410px;
  }
  .card-user img {
    height: 40px;
    top: 40%;
    margin-left: -7px;
  }
  .card-user .title {
    left: 47%;
    width: 66%;
    padding-left: 0px;
  }
  .card-user .title > span.txt-point {
    border-top: none;
    text-align: left;
  }
  .card-user .title > span {
    font-size: .9rem;
    text-align: left;
  }
  .w-pic {
    width: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .guest-experience {
    padding: 20px !important;
  }
  .about {
    padding: 20px !important;
  }
  .card-user .title {
    left: 34%;
    width: 66%;
    padding-left: 0px;
  }
  .w-50 {
    width: 50%;
  }
  .min-w-table {
    min-width: 100px !important;
    overflow-x: scroll !important;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-burger {
    margin-left: 90px;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 290px;
  }
  .menu-user {
    width: 96% !important;
  }
  .w-pic {
    width: 40%;
  }
}
@media only screen and (min-width: 410px) and (max-width: 415px) {
  .guest-experience {
    padding: 20px !important;
  }
  .about {
    padding: 20px !important;
  }
  .card-user .title {
    left: 34%;
    width: 66%;
    padding-left: 0px;
  }
  .w-50 {
    width: 50%;
  }
  .min-w-table {
    min-width: 100px !important;
    overflow-x: scroll !important;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-burger {
    margin-left: 90px;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 290px;
  }
  .menu-user {
    width: 96% !important;
  }
  .w-table {
    width: 95% !important;
  }
  .w-pic {
    width: 40%;
  }
}
@media only screen and (max-width: 384px) {
  .guest-experience {
    padding: 20px !important;
  }
  .about {
    padding: 20px !important;
  }
  .card-user .title {
    left: 34%;
    width: 66%;
    padding-left: 0px;
  }
  .min-w-table {
    min-width: 100px !important;
    overflow-x: scroll !important;
  }
  .font-small-login-btn {
    font-size: 14px !important;
  }
  .ml-burger {
    margin-left: 60px;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 280px;
  }
  .menu-user {
    width: 96% !important;
  }
  .w-table {
    width: 95% !important;
  }
  .w-pic {
    width: 40%;
  }
}
@media only screen and (max-width: 375px) {
  .guest-experience {
    padding: 20px !important;
  }
  .about {
    padding: 30px !important;
  }
  .card-user .title {
    left: 34%;
    width: 66%;
    padding-left: 0px;
  }
  .min-w-table {
    min-width: 100px !important;
    overflow-x: scroll !important;
  }
  .ml-burger {
    margin-left: 50px;
  }
  .font-small-login-btn {
    font-size: 14px !important;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 280px;
  }
  .menu-user {
    width: 96% !important;
  }
  .w-table {
    width: 95% !important;
  }
  .w-pic {
    width: 40%;
  }
}
@media only screen and (max-width: 360px) {
  .ml-burger {
    margin-left: 40px;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 260px;
  }
  .card-user .title {
    left: 35%;
    width: 66%;
    padding-left: 0px;
  }
  .menu-user {
    width: 95% !important;
  }
  .w-table {
    width: 100% !important;
  }
  .w-pic {
    width: 40%;
  }
}
@media only screen and (max-width: 320px) {
  .fix-h img.logo {
    height: 60px;
  }
  .about .line {
    width: 250px;
  }
  .font-small-login-btn {
    font-size: 11px !important;
  }
  .ml-burger {
    margin-left: 0px;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .card-user .title {
    left: 23%;
    width: 60%;
    padding-left: 16px;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 200px;
  }
  .card-user .title {
    left: 39%;
    width: 66%;
    padding-left: 0px;
  }
  .menu-user {
    width: 95% !important;
  }
  .w-table {
    width: 100% !important;
  }
  .w-pic {
    width: 40%;
  }
}
@media only screen and (max-width: 300px) {
  .card-user .title {
    left: 32%;
    width: 60%;
    padding-left: 13px;
  }
  .font-small-login-btn {
    font-size: 9px !important;
  }
  .ml-burger {
    margin-left: -20px;
  }
  .pagination-mdf a {
    padding: 5px 20px !important;
  }
  .reward .btn-search {
    float: left !important;
    margin-top: 10px !important;
  }
  .ml-baht {
    margin-left: 3px;
  }
  .p-search {
    padding-right: 15px;
  }
  .ml-verify {
    margin-left: 10px;
  }
  .m-btn {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .arrow-menu {
    width: 5%;
    margin-left: 200px;
  }
  .w-table {
    width: 100% !important;
  }
  .w-pic {
    width: 40%;
  }
}

