<template>
  <div class="card-partner-tranfer">
    <div class="row">
      <div class="col-lg-3">
        <img src="@/assets/Group 793.png" class="img-fluid" />
      </div>
      <div class="col-lg-9">
        <div class="d-flex flex-column h-100">
          <div class="h-100">
            <h4>{{partner.name}}</h4>
            <div>
              <p>เดอะ นิว คอนเซปต์ พอยท์ โอนเป็นคะแนน The 1 ได้ง่ายๆ<br />
                เดอะ นิว คอนเซปต์ พอยท์ จํานวน 100 คะแนน = The 1 จํานวน 400 คะแนน
              </p>
            </div>
          </div>
          <div class="w-100 align-self-end">
            <router-link class="btn hvr-sweep-to-right" to="/tranfer">กลับ</router-link>
            <router-link class="btn hvr-sweep-to-right" :to="{ path: partner.type === 1 ? '/tranfer-user/1' : '/tranfer/1'}">รายละเอียดเพิ่มเติม</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PartnerTranferCard',
  props: {
    partner: Object
  }
}
</script>

