<template>
  <div class="row mt-4">
    <div class="col-sm-3 w-50">
      <div class="card-user">
        <img src="@/assets/icon-totalpoint.png" />
        <p class="title">Points balance
          <span class="d-block txt-point">2000</span>
          <span class="d-block font-size-sm">points</span>
        </p> 
      </div>
    </div>
    <div class="col-sm-3 w-50">
      <div class="card-user">
        <img src="@/assets/icon-gift.png" />
        <p class="title">Point history
          <span class="d-block txt-point txt-point-green">03</span>
          <span class="d-block font-size-sm">Lists</span>
        </p>
      </div>
    </div>
    <div class="col-sm-3 w-50">
      <div class="card-user">
        <img src="@/assets/icon-reservation.png" />
        <p class="title">In progress
          <span class="d-block txt-point txt-point-blue">04</span>
          <span class="d-block font-size-sm">Lists</span>
        </p> 
      </div>
    </div>
    <div class="col-sm-3 w-50">
      <div class="card-user">
        <img src="@/assets/Group 4136-2.png" />
        <p class="title">Cancelled
          <span class="d-block txt-point txt-point-red">05</span>
          <span class="d-block font-size-sm">Lists</span>
        </p> 
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserDashboard'
}
</script>

