<template>
  <div class="card card-item">
  <router-link to="/excursions-activities-detail/1">
    <img class="card-img-top" src="@/assets/cooking_3-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Chef Choice-Cooking lesson</h5>
      <!--<h6 class="card-text">Antie Anne’s Pretzel รสชาติใดก็ได้ 1 ชิ้น</h6>-->
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <!--<a v-if="item && item.type === 1" href="#" class="btn text-danger">VALID UNTIL 2 นาที 2 วินาที</a>
      <a v-else href="#" class="btn">VALID UNTIL 25/12/2019</a>-->
      <a href="#/excursions-activities-detail/1" class="btn btn-primary" style="margin-top: 20px;">More Information</a>
    </div>
  </router-link>
</div>
</template>

<script>
export default {
  name: 'ItemCard',
  props: {
    item: Object
  }
}
</script>

