<template>
  <div class="about">
    <div class="container-fluid responsive">
        <div class="row">
          <img src="@/assets/Airplane-1.jpg" style="width: 100%; height: 500px;">
      </div>
    </div>
    <div class="container">
      <div class="row text-center" style="padding-top: 100px; padding-bottom: 120px;">
        <p class="about-text">
          Take your vacations to the next level. Take an advantage of our exclusive insider knowledge and travel expertise to
          make your vacations a treasure trove of new experience and memories.
          Explore our programs featuring from: Accommodations, Art & Cultures, Gastronomy, Natural Exposures,
          Spa & Wellness, Sports & Adventures, and more.
        </p>
        <p class="about-text">
          Our travel consultants are readily, daily available, to make recommendations on all kinds of activities that suits your
          personal preference. Redeeming is hassle-free yet simple. Get your suitcase ready, as Experience Club will
          completely change your travel perception eternally.
        </p>
        <img src="@/assets/Group 2061.png" class="line">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

