<template>
    <div class="available-point-redemption-detail">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <img src="@/assets/4.Dinning/Dinning-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">De Richy<br>The Exclusive</h1>
                    <div class="border mb-3"></div>
                    <p class="detail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel</p>
                    <p class="discount-text">10% discount</p>
                    <p class="detail-text">Food & Beverage</p>
                    <p class="detail-text mt-5">Operation hours…..</p>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right" @click="showReservation">Reserve</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <h1 class="head-info mt-5">Detail</h1>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam. In a convallis leo. Curabitur
                    finibus cursus metus sit amet pellentesque. Donec vel ornare nisi. Phasellus egestas, felis non maximus aliquam, mi libero
                    hendrerit augue, eu rutrum quam tortor vel leo. Nulla vulputate viverra quam, at convallis metus dignissim et. Fusce sit amet
                    consectetur velit, et aliquam tortor. Phasellus nibh ligula, tristique eget tincidunt eu, faucibus fringilla nisl. Sed id metus ac
                    augue ullamcorper auctor. Donec fringilla risus interdum, aliquet dolor quis, venenatis velit.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h1 class="head-info mt-5">Term & Condition</h1>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. Maecenas eget eros ultricies, euismod erat et,
                    gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor nunc bibendum rhoncus porta. In cursus
                    elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. In hac habitasse platea dictumst.
                    Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                    <div class="mt-4">Praesent interdum ex vitae augue ultricies, nec bibendum urna lacinia. Ut fringilla tellus vitae ullamcorper porta. Etiam lobortis
                    turpis in odio volutpat, sed fermentum neque egestas. Nullam bibendum molestie dui lobortis finibus. Sed non porttitor eros.
                    Donec ullamcorper blandit nulla, sodales viverra felis hendrerit vitae. Integer ut lectus nulla.</div>
                    <div class="mt-4">Suspendisse viverra libero urna, in commodo libero interdum eget. Praesent at mauris semper, sodales felis a, tristique sapien.
                    Donec sit amet magna commodo, ultrices arcu ac, volutpat ante. Integer a molestie turpis. Proin id ex ut nibh interdum
                    pulvinar. Aliquam non quam at lectus facilisis lacinia nec sit amet est. Suspendisse quis diam sed orci consectetur sollicitudin
                    nec efficitur lacus. Morbi varius sit amet lorem non auctor. Quisque pulvinar consequat convallis. Sed tellus est, lacinia in
                    consectetur ut, lacinia ut leo. Aliquam et mauris risus. Ut ultricies nisl et suscipit feugiat. Praesent rutrum quam dolor, a
                    consectetur lacus cursus sed. Morbi a aliquam arcu.</div>
                </div>
            </div>
        </div>


        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 1">
                    <h3 class="text-center">Detail of reservation</h3>
                    <h5 class="text-center">Available for point redemption<br/>De Richy at The Exclusive</h5>
                    <div class="row mt-4">
                        <div class="col-sm-3">Guest Name</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Date</div>
                        <div class="col-sm-9"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Time</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Number of person</div>
                        <div class="col-sm-9"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Special requirement</div>
                        <div class="col-sm-9"><div class="form-group"><textarea type='text' class="form-control" ></textarea></div></div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center mb-5">Available for point redemption<br/>De Richy at The Exclusive</h4>
                    <div class="row">
                        <div class="col-sm-4">Guest Name</div>
                        <div class="col-sm-8">: Mr.Sample Sample</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8">: 00/00/0000</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Time</div>
                        <div class="col-sm-8">: 00:00</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8">: 02</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Special requirement</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 3">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation. Our Guest Experience Specialist will contact you and
                    inform deduct point within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'AvailablePointRedemptionDetail',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}
</script>
