<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Available for point redemption</h1>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/available-point-redemption-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">De Richy<br>The Exclusive</h5>
                                <label class="card-text-special bold">15% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/available-point-redemption-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/available-point-redemption-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Hotels-Resorts-Experience.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Pool Bar<br>The Pool Suite</h5>
                                <label class="card-text-special bold">15% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/available-point-redemption-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/available-point-redemption-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">The Café<br>Pool Suite</h5>
                                <label class="card-text-special bold">15% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/available-point-redemption-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'AvailablePointRedemption'
}
</script>
