<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Borrow date</th>
          <th scope="col">Borrow (Points)</th>
          <th scope="col">Fee (Points)</th>
          <th scope="col">Valid until</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/11/2561</td>
          <td>10,000</td>
          <td>1,500</td>
          <td>12/11/2562</td>
          <td><button type="button" class="btn" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
        <tr>
          <td>02/03/2561</td>
          <td>20,000</td>
          <td>1,500</td>
          <td>12/11/2562</td>
          <td><button type="button" class="btn" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
        <tr>
          <td>16/03/2561</td>
          <td>10,000</td>
          <td>1,500</td>
          <td>12/11/2562</td>
          <td><button type="button" class="btn" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->
    <b-modal id="modal-topup-history" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <ModalBorrowHistory @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import ModalBorrowHistory from '@/components/modals/modalBorrowHistory'

export default {
  name: 'BorrowHistory',
  components: {
    ModalBorrowHistory
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  },
  data() {
    return {
      items: [1,2,3,4,5,6]
    }
  }
}
</script>

