<template>
  <div class="tranfer mb-5">
    <div class="container">
      <h1 class="mt-5"><img src="@/assets/icon-topup.png" alt="Icon tranfer"> Borrow points</h1>
    </div>
    <div class="bg-welcome">
      <div class="container">
        <div class="row text-center">
          <h1 class="txt-welcome">Welcome!!</h1>
        </div>
        <div class="row text-center">
          <h2 class="txt-sub-welcome">Mr. Devid Long</h2>
        </div>
        <div class="row text-center">
          <h2 class="txt-sub-welcome">Points balance 100,000 points</h2>
        </div>
        <div class="row text-center">
          <h2 class="txt-sub-welcome">You can borrow 10,000 points</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-3" v-for="item in items">
          <BorrowPointCard @clicked="showModal"/>
        </div>
      </div>
    </div>

    <!-- Modal Component -->
    <b-modal id="modal-topup" v-model="modalShow" :hide-header="true" :hide-footer="true" size="lg">
      <BorrowPointDetail @close-modal="hideModal" v-if="modalType === 2" />
      <BorrowForm @close-modal="hideModal" v-if="modalType === 1" />
    </b-modal>
  </div>
</template>

<script>
import BorrowPointCard from '@/components/cards/borrowCard'
import BorrowPointDetail from '@/components/modals/modalBorrowPoint/detail'
import BorrowForm from '@/components/modals/modalBorrowPoint/borrow'

export default {
  name: 'BorrowPoint',
  components: {
    BorrowPointCard,
    BorrowPointDetail,
    BorrowForm
  },
  data() {
    return {
      modalShow: false,
      modalType: 1,
      items: [1,2,3,4,5,6,7,8,9,10]
    }
  },
  methods: {
    showModal(data) {
      this.modalShow = !this.modalShow
      this.modalType = data.type
    },
    hideModal(isShow) {
      this.modalShow = isShow
    }
  }
}
</script>

