<template>
  <div class="row mt-5">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-4 text-center">
          <div class="border p-5 mb-3"><img src="@/assets/Profile.png" class="img-fluid mb-1" style="width: 100%;"/></div>
          <div class="upload-btn-wrapper btn">
            <button class="btn">Edit picture</button>
            <input type="file" name="myfile" class="btn" />
          </div>
        </div>
        <div class="col-lg-8">
          <form class="profile-fm">
            <div class="form-group">
              <label for="codeNoInp">Current Password</label>
              <input type="text" class="form-control" id="codeNoInp">
            </div>
            <div class="form-group">
              <label for="codeNoInp">Registration email</label>
              <input type="text" class="form-control" id="codeNoInp">
            </div>
            <div class="form-group">
              <label for="codeNoInp">New password</label>
              <input type="text" class="form-control" id="codeNoInp">
            </div>
            <div class="form-group">
              <label for="addressInp">Retype new password</label>
              <div class="row">
              <div class="col-sm-10"><input type="text" class="form-control" id="addressInp"></div>
              <div class="col-sm-2"><label style="color: #43B94A;">Match</label></div>
              </div>
            </div>
            <h6>If you need help please contact:</h6>
            <h6>Phone : 053-442700, 053-442702<br/>Email : info@experienceclub.net</h6>
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-1 font-size-sm">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChangePassword'
}
</script>

