<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Club & Lounge Experience</h1>
            <p class="sub-title">Emancipate and enjoy variety of food & drinks with personalize service in classical, stylish ambience</p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/club-lounge-detail/1">
                                <img class="card-img-top" src="@/assets/5.Club/Club.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The House Lounge</h5>
                                    <label class="card-text-special bold">10% discount</label>&nbsp;
                                    <label class="card-text-describe bold">Food & Beverage</label>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text-describe bold">Operating hours...</p>
                                    <a href="#/club-lounge-detail/1" class="btn btn-dining">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/club-lounge-detail/1">
                                <img class="card-img-top" src="@/assets/5.Club/club-2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The Diploment</h5>
                                    <label class="card-text-special bold">10% discount</label>&nbsp;
                                    <label class="card-text-describe bold">Food & Beverage</label>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text-describe bold">Operating hours...</p>
                                    <a href="#/club-lounge-detail/1" class="btn btn-dining">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'ClubAndLounge'
}
</script>
