<template>
  <div class="row">
    <div class="col-lg-12" style="margin-top: 4rem;">
      <router-link to="/signin/login" class="text-light ml-5">< Back</router-link>
    </div>
    <div class="col-lg-6 offset-lg-3">
      <div class="text-center my-4">
        <img src="@/assets/logo.jpg" height="100px" alt="logo">
      </div>
      <div class="box-login">
        <div class="text-center mb-4">
          <h1 class="login-title">Terms & Condition</h1>
        </div>
        <div class="scollbar-condition">
          <ul class="pl-4">
            <li>Experience Club Co., Ltd. is a company who responsible for managing, coordinating guest’s reservation and providing service requests only.</li>
            <li>Local rules and regulations must be obeyed in accordance to Service Provider or Owner of the Area.</li>
            <li>Service Provider or Owner of the Area reserved all rights to keep terms and condition updated and must notify all changes to Experience Club 
            within 30 days prior to launching date (or in the case of urgent modifications, must be inform not less than 7 business working days.)</li>
          </ul>
          <h5>Cardholder Benefits for TNC Hotels & Residences</h5>
          <p>Every use of The New Concept Group’s accommodation will receive the following benefits: </p>
          <ul class="pl-4">
            <li>Seasonal Welcome Fruits (valid for overnight stays only)</li>
            <li>Breakfast inclusive of 2 persons / 1 room occupied (valid for overnight stays only)</li>
            <li>15% discount on Food & Beverages in dining room only (excludes promotion and room service)</li>
            <li>15% discount on Spa Treatments (excludes promotion)</li>
            <li>15% discount on TNC Accommodation’s Rate (excludes promotion) when settle payment in cash and not deducted from Vacation Points.</li>
          </ul>
          <h5>Validity of Vacation Points</h5>
          <ul class="pl-4">
            <li>Vacation Points valid for 1 calendar year from 1 January to 31 December every year.</li>
          </ul>
          <h5>Ways to redeem Vacation Points</h5>
          <p>How to redeem Vacation Points:</p>
          <ul class="pl-4">
            <li>Select products: accommodation, service, activity or excursion.</li>
            <li>Contact Experience Club’s officer for making reservations.</li>
            <li>Staff will book and update each reservation’s status.</li>
            <li>Points status will be changed to “Pending – under progress” and will be hold and unable to use the certain amount for other bookings.</li>
            <li>Once the reservation is confirmed, the blocked points will be deducted immediately.</li>
            <li>In case of cancel according to Terms of Cancellation, deducted points will be credited back to customer account. Full or partial 
            refund is subject to Terms of Cancellation of such goods and services.</li>
            <li>In case of customer failure to participate in reserved service on reservation’s date and did not cancel within the specified 
            dateline. No refund will be made, except in the case of force majeure, will be at discretion of Experience Club Co., Ltd only. </li>
          </ul>
          <h5>Vacation Points Usage</h5>
          <ul class="pl-4">
            <li>Customers may use their points to settle incidental charges for Hotels & Residences under The New Concept Group, 1 Point equal to 1 Baht</li>
            <li>Customers may use their points to book accommodation with Experience Club’s Partner Hotels if booked through Experience Specialist 
            (Telephone, Email, Line Application, or Website).</li>
            <li>Customers may use their membership for restaurants, spas, shops discounts with Experience Club’s Partners when booked through Experience Specialist 
            (Telephone, Email, Line Application, or Website).</li>
            <li>Number of points used to redeem for product or service may varies depending on season and other relevant factors.</li>
            <li><strong>Terms and Condition, Service Fees for Vacation Points are determined by Experience Club Co., Ltd</strong></li>
          </ul>
          <h5>Borrow Points</h5>
          <ul class="pl-4">
            <li>Vacation Points and Bonus Points are valid for 1 calendar year from 1 January to 31 December of each year and cannot be accumulated. 
            The remaining balance will be eliminated on 31 December.</li>
            <li>Points can be borrowed from next year (e.g. current year is 2019, you can borrow from year 2020 only).</li>
            <li>Borrowing points from next year, associated fee listed as follows: 
              <div class="tranfer-detail">
                <table class="table mt-3 text-center">
                  <thead class="thead">
                    <tr>
                      <th>Vacation Points Borrow</th>
                      <th>Fee per session</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Up to 30,000 points</td>
                      <td>1,500 points</td>
                    </tr>
                    <tr>
                      <td>30,001 - 50,000 points</td>
                      <td>2,500 points</td>
                    </tr>
                    <tr>
                      <td>50,001 - 100,000 points</td>
                      <td>5,000 points</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
          <h5>Points Transfer</h5>
          <ul class="pl-4">
            <li>Points transfer will be associated with fee which will be deducted from transferrer’s account.
              <div class="tranfer-detail">
                <table class="table mt-3 text-center">
                  <thead class="thead">
                    <tr>
                      <th>Vacation Points Borrow</th>
                      <th>Fee per session</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Up to 30,000 points</td>
                      <td>1,500 points</td>
                    </tr>
                    <tr>
                      <td>30,001 - 50,000 points</td>
                      <td>2,500 points</td>
                    </tr>
                    <tr>
                      <td>50,001 - 100,000 points</td>
                      <td>5,000 points</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li>Recipient of points transfer must be a member only.</li>
            <li>Transfer points to Service Partners, regulations will be based from each individual partner’s company.</li>
          </ul>
          <h5>Buy or Sell Points</h5>
          <ul class="pl-4">
            <li>Experience Club Co., Ltd. does not allow any member or person to purchase, vend, auction, or trade for merchandise for 
            Vacation Points or any of the Experience Club products and services. We will not be liable or responsible for any damages incurred.</li>
          </ul>
          <h5>Redeem Accommodation</h5>
          <ul class="pl-4">
            <li>Number of rooms can be reserve without limitation, only depending on availability. Term and conditions apply of each property.</li>
            <li>Advance reservation is recommended. Availability depends on Terms & Condition of each property.</li>
            <li>Reservations for Non-Member Guest must be made by Owner of Vacation Points. Full Non-Member Guest’s Name must be clearly notified. 
            Signed authorization form will be required by Owner of Vacation Points.</li>
          </ul>
          <h5>Seasonal Rate</h5>
          <ul class="pl-4">
            <li>Points required for each activity may varies, depend on season, Terms & Condition of individual vendors.</li>
          </ul>
          <h5>Insufficient of Points</h5>
          <ul class="pl-4">
            <li>Insufficient of points, they can be borrowed from next year (e.g. current year is 2019, you can borrow from year 2020 only) with associated fee.</li>
            <li>15% discount on Accommodation (excludes promotion) when settle payment in cash for Classic Experience Member (except room service) </li>
            <li>Additional points can be purchased through the Experience Club staff via the contact details provided.</li>
          </ul>
          <h5>Terminology</h5>
          <div class="tranfer-detail">
            <table class="table mt-3">
              <tbody>
                <tr>
                  <td>Home Property</td>
                  <td>Meaning the original project of such Real Estate that the owner purchased</td>
                </tr>
                <tr>
                  <td>Vacation Points</td>
                  <td>Meaning points define as "Vacation Points"</td>
                </tr>
                <tr>
                  <td>Classic Experience</td>
                  <td>Meaning membership in "Classic Experience" level</td>
                </tr>
                <tr>
                  <td>Prorate</td>
                  <td>Meaning to divide, distribute, or assess proportionately.</td>
                </tr>
                <tr>
                  <td>Owner of the Area</td>
                  <td>Meaning manager of respective area.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="form-group my-2">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <span class="form-check-label" for="exampleCheck1">I have read and agree to the terms of service</span>
        </div>-->
        <router-link to="/signin/reset-password">
          <button type="button" class="btn btn-login btn-lg mt-5 btn-block">Next</button>
        </router-link>        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  user  : 'Condition'
}
</script>

