<template>
  <div class="contact">
    <!--<PhotoSlide />-->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1 class="title title-border-b mt-5">Contact Us</h1>
          <p class="text-center">If you have any questions or comments, about our products and services
          <br />Please do not hesitate to get in touch by filling out this handy form</p>
          <form class="mt-5">
            <div class="form-group row">
              <label for="nampInp" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="nampInp">
              </div>
            </div>
            <div class="form-group row">
              <label for="objectInp" class="col-sm-3 col-form-label">Subject</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="objectInp">
              </div>
            </div>
            <div class="form-group row">
              <label for="emailInp" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="emailInp">
              </div>
            </div>
            <div class="form-group row">
              <label for="telInp" class="col-sm-3 col-form-label">Telephone Number</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="telInp">
              </div>
            </div>            
            <div class="form-group row">
              <label for="messageTxt" class="col-sm-3 col-form-label">Message</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="3" id="messageTxt"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9 mt-3 mb-5 offset-lg-3">
                <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-1 mb-2 mr-2">Send</button>
                <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-1 mb-2">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact'
}
</script>

