<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Dining Experience</h1>
            <p class="sub-title">Challenge your taste buds with special gastronomic delights designed by talented chefs that elevate exciting 
            culinary creations in dreamy and serene surroundings.</p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/available-point-redemption">
                                <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Available for point redemption</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    <a href="#/available-point-redemption" class="btn btn-dining" style="margin-top: 20px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/privilege-dining-discount">
                                <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Privilege Discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    <a href="#/privilege-dining-discount" class="btn btn-dining" style="margin-top: 20px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Dining'
}
</script>
