<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Excursions & Activities Experience</h1>
            <p class="sub-title">Experience the glamour and ease of high-quality excursions. Creating memories and storytelling 
            you will reminisce with our unforgettable adventures.</p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-mdf">
                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">></a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import ItemCard from '@/components/cards/itemCard'
export default {
  name: 'Reward',
  components: {
    ItemCard
  },
  data() {
    return {
      items: [1,2,3,4,5,6,7,8,9,10,11,12]
    }
  }
}
</script>