<template>
    <div class="special-month">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-8">
                    <img src="@/assets/cooking_3-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">Chef Choice-Cooking lesson</h1>
                    <div class="border mb-3"></div>
                    <p class="mb-0">Redemption Point</p>
                    <p class="point">4,500 points<label>&nbsp; per 2 persons</label></p>
                    <p class="mb-0">Extra person</p>
                    <p class="point">2,250 points<label>&nbsp; per person</label></p>
                    <p class="mb-0">Children (4-12 years)</p>
                    <p class="point">250 points<label>&nbsp; per child</label></p>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right" @click="showReservation">Reserve</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"><h1 class="head-info mt-5">ITINERARY</h1></div>
            </div>
            <div class="row">                
                <div class="col-lg-2">Morning</div>
                <div class="col-lg-10">Breakfast at De’Richy</div>
            </div>
            <div class="row">                
                <div class="col-lg-2">08.00</div>
                <div class="col-lg-10">Visit local fresh market with Chef Pubton<br>
                    Return to the property and enjoy the cooking class<br>
                    There are 2 dishes per class as per chef recommendation from below list<br>
                    *Kanom Jeen Nam Nguew<br>
                    *Tam Banoon<br>
                    *Kaeng Hung Lay<br>
                    *Nam Prik Noom<br>
                    *Khow Soi Kai<br>
                    *Kaeng Kare<br>
                    *Larb Muang<br>
                    *Nam Prik Ong<br>
                </div>
            </div>
            <div class="row">                
                <div class="col-lg-2">Lunch</div>
                <div class="col-lg-10">at De’Richy Restaurant</div>
            </div>
            <div class="row">                
                <div class="col-lg-2">Afternoon</div>
                <div class="col-lg-10">Enjoy 90 minutes Relaxing massage at the New Concept Relaxing spa</div>
            </div>
            <div class="row">                
                <div class="col-lg-2">Dinner</div>
                <div class="col-lg-10">at Leisure</div>
            </div>
            <hr class="mt-5">
            <div class="row">
                <div class="col-lg-12"><h1 class="head-info mt-5">PACKAGE TERMS & CONDITIONS</h1></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>1. Minimum requirement of 2 persons | Additional transportation may be required for groups of 3 or more</p>
                    <p>2. This activity is suitable for adult only</p>
                    <p>3. Luxury transfer to and from the morning local market trip</p>
                    <p>4. Cooking class for 2 dishes from menus</p>
                    <p>5. Lunch at De’Richy Restaurant</p>
                    <p>6. One time 90-minute Relaxing Massage per person per stay</p>
                    <p>7. Please advise your Guest Experience Specialist of any food preferences or allergies upon reservation</p>
                    <p>8. A minimum 3 days advance reservation is required through email info@experienceclub.net , or via our
                    Line official: @Experienceclub.</p>
                    <p>9. 24-hours cancellation notice is required, less than 24 hours cancellation or No Show results in
                    points forfeiture</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <tbody class="text-center">
                            <tr>
                                <td>Redemption Point</td>
                                <td>4,500 points per 2 persons</td>
                            </tr>
                            <tr>
                                <td>Extra person</td>
                                <td>2,250 points per person</td>
                            </tr>
                            <tr>
                                <td>Children (4-12 years)</td>
                                <td>250 points per child</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 1">
                    <h3 class="text-center">Details of the reservation</h3>
                    <h5 class="text-center">Chef Choice-Cooking lesson</h5>
                    <div class="row mt-4">
                        <div class="col-sm-3">Guest Name</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Date</div>
                        <div class="col-sm-9"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Number of adult(12 years & up)</div>
                        <div class="col-sm-9"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Number of child/children (4-11 Years)</div>
                        <div class="col-sm-9"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Pick up venue</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Special requirement</div>
                        <div class="col-sm-9"><div class="form-group"><textarea type='text' class="form-control" ></textarea></div></div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center mb-5">Chef Choice-Cooking lesson</h4>
                    <div class="row offset-lg-2">
                        <div class="col-sm-4">Guest Name</div>
                        <div class="col-sm-8">: Mr.Sample Sample</div>
                    </div>
                    <div class="row mt-3 offset-lg-2">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8">: 00/00/0000</div>
                    </div>
                    <div class="row mt-3 offset-lg-2">
                        <div class="col-sm-4">Number of adult(12 years & up)</div>
                        <div class="col-sm-8">: 02</div>
                    </div>
                    <div class="row mt-3 offset-lg-2">
                        <div class="col-sm-4">Number of child/children (4-11 Years)</div>
                        <div class="col-sm-8">: 00:00</div>
                    </div>
                    <div class="row mt-3 offset-lg-2">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8">: 02</div>
                    </div>
                    <div class="row mt-3 offset-lg-2">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8">: Lorem ipsum dolor sit amet.</div>
                    </div>
                    <div class="row mt-3 offset-lg-2">
                        <div class="col-sm-4">Special Requirement</div>
                        <div class="col-sm-8">: Lorem ipsum dolor sit amet.</div>
                    </div>
                    <div class="row">
                        <h6 class="text-center mt-5" style="line-height: 1.5rem;">At present, the total of 
                        <label class="mb-0" style="font-weight: 600;">2,400 points</label>
                        is now hold and will be deducted after you have received the confirmation letter from the Experience club</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">100,000</h1><h6>Points Now</h6>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-1">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">1,500</h1><h6>Deduct</h6>
                        </div>
                        <div class="col-lg-1 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-2">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">98,500</h1><h6>Balance</h6>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 3">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation. Our Guest Experience Specialist will contact you and
                    inform deduct point within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'ExcursionsAndActivitiesDetail',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}
</script>
