<template>
    <div class="guest-experience">
        <div class="container-fluid responsive">
            <div class="row">
            <img src="@/assets/New concept point pic-1.jpg" style="width: 100%; height: 500px;">
            </div>
        </div>
        <div class="container">
            <div class="row text-center" style="padding-top: 80px;">
                <h1>Guest Experience</h1>
            </div>
            <div class="row text-center">
                <div class="line"><img src="@/assets/Group 2061.png"></div>
            </div>
            <div class="row text-center" style="margin-bottom: 100px;">
                <h2>TERMS & CONDITIONS</h2>
            </div>
            <div class="row">
                <p class="text-detail">1. Services</p>
            </div>
            <div class="row">
                <p>A. Experience Club contact channels are as listed:</p>
            </div>
            <div class="row">
                <ul style="margin-left: 50px;">
                    <li class="font-small-login-btn">Website: https://thenewconcept.co.th/experience-club</li>
                    <li class="font-small-login-btn">Email address: info@experienceclub.net</li>
                    <li class="font-small-login-btn">Line account: @Experienceclub</li>
                </ul>
            </div>
            <div class="row">
                <p>B. The services offered by Experience Club consists of accommodation, shopping, dining, excursions, spa and wellness, and other activities / 
                services outlined on Experience Club website. Members may book activities, trips, or experiences via the company’s official Line account or email, daily.</p>
                <p>C. Experience Club reserves the right to add or revoke services available to members at any time without prior notice and/or to reject immoral, 
                illegal, impossible and/or inequitable requests.</p>
                <p>D. Our Guest Experience Specialists will communicate directly with our Partner (the “Supplier”) of services, products or benefits you are 
                interested in to complete reservations on your behalf, otherwise, all your rights and remedies are directly against supplier.</p>
                <p>E. All services, products or benefits redeemed by Member through Experience Club shall be subject to the terms, conditions 
                and policies of the Supplier of each specific product and you are required to act in accordance with their regulations.</p>
                <p>F. All reservations of Services from Suppliers made through Experience Club are subject to a 48 hours cancellation policy, unless agreed upon 
                by the Supplier of the respective product. Any expenses incurred due to such change or cancellation made less than 48 hours will be the 
                sole responsibility of the Member who requested the reservation. A specific cancellation for certain activity may require longer notification period.</p>
                <p>G. If Experience Club is unable to deliver upon the request of a Member, a Guest Experience Specialist will inform the Member 
                at the earliest possible opportunity.</p>

                <p class="text-detail">2. Costs and Expenses</p>
                <p>A. Members shall redeem their Experience Club Vacation Points in exchange for accommodation, spa and wellness treatments, excursions, 
                activities and any other products or services supplied by Suppliers in partnership with Experience Club.</p>
                <p>B. In cases of reservations made by Members for services outside of those offered by Suppliers in partnership 
                with Experience Club, Members are required to make direct payment at the Supplier’s location.</p>

                <p class="text-detail">3. Changes to Terms and Conditions</p>
                <p>A. Experience Club reserves the right to update or change these Terms and Conditions without prior notification of its Members.</p>
            </div>
            <div class="row">
                <p class="text-detail">4. Liability</p>
                <p>A. Guest Experience Specialists will make all efforts within their abilities and resources to complete all reservations requested by Members, 
                using reasonable care in selecting an appropriate Supplier that accommodate the requirements of each Member.</p>
                <p>B. Suppliers are referred to Members on the basis of their preceding reputation, and are expected to deliver a quality product. 
                Guest Experience Specialists are not responsible for any unsatisfactory experiences or products delivered by a Supplier to Members, 
                nor do they guarantee the delivery of the product contracted between the Supplier and Experience Club.</p>
                <p>C. Upon purchasing the product(s) or engaging in the service(s) of a Supplier, Members enter into an independent contract between 
                themselves and the relevant Supplier. Under no circumstances shall Experience Club or its Guest Experience Specialists be held liable 
                for any damages – whether direct, indirect, financial, physical or otherwise – suffered by Members while engaging with the products or 
                services provided by Suppliers.</p>
                <p style="margin-bottom: 200px;">D. A Guest Experience Specialist shall not be held responsible for service delays or failure to provide 
                services within the scope of his/her duties with Experience Club, provided the delays or failure were beyond reasonable control.</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'GuestExperience'
}
</script>

