<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Reward name</th>
          <th scope="col">Points</th>
          <th scope="col">Confirmation ID</th>
          <th scope="col">Status</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/11/2561</td>
          <td>The Exclusive</td>
          <td>50</td>
          <td class="pointer" @click="showVoucher">A2379c3675</td>
          <td style="color: #43B94A;">Complete</td>
          <td><button type="button" class="btn" v-b-modal.modal-history-point>View</button></td>
        </tr>
        <tr>
          <td>02/03/2561</td>
          <td>Pool Suite</td>
          <td>30</td>
          <td class="pointer" @click="showVoucher">L2485m1289</td>
          <td style="color: #FF0000">Cancel</td>
          <td><button type="button" class="btn" v-b-modal.modal-history-point>View</button></td>
        </tr>
        <tr>
          <td>16/03/2561</td>
          <td>Khao restaurant...</td>
          <td>60</td>
          <td class="pointer" @click="showVoucher">i8651285J55</td>
          <td style="color: #43B94A;">Complete</td>
          <td><button type="button" class="btn" v-b-modal.modal-history-point>View</button></td>
        </tr>
      </tbody>
    </table>


    <!-- Modal Component -->
    <b-modal ref="modalVoucher" :hide-header="true" :hide-footer="true" size="lg">
      <div class="col-lg-10 offset-lg-1 mt-4 text-center point-degail-modal">
        <img src="@/assets/Group 3964.png" class="img-fluid">
        <div class="col-lg-4 offset-lg-4 my-3 mt-5">
            <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideVoucher">Close</button>
        </div>
      </div>
    </b-modal>


    <!-- Modal Component -->
    <b-modal id="modal-history-point" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <UsedPointDetail @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import UsedPointDetail from '@/components/UsedPointDetail'

export default {
  name: 'HistoryPoint',
  components: {
    UsedPointDetail
  },
  methods: {
    showVoucher () {
      this.$refs.modalVoucher.show()
    },
    hideVoucher () {
      this.$refs.modalVoucher.hide()
    },
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  },
  data() {
    return {
      items: [1,2,3]
    }
  }
}
</script>

