<template>
  <div>
    <PhotoSlide />
    <div class="container hero hero-home">
      <div>
        <h1 class="title mt-5">How to use points</h1>
        <div class="row how-to-use-point mt-3">
          <div class="col-lg-3 text-center">
            <img src="@/assets/how-to-use-1.png" class="img-fluid text-center w-pic" />
            <p>Check your points and redeem a gift on website /application.</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="@/assets/how-to-use-2.png" class="img-fluid text-center w-pic" />
            <p>Check your points and redeem a gift at participating stores</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="@/assets/how-to-use-3.png" class="img-fluid text-center w-pic" />
            <p>Send your code to participating stores</p>
          </div>
          <div class="col-lg-3 text-center">
            <!--<span class="text-or responsive">or</span>-->
            <img src="@/assets/how-to-use-4.png" class="img-fluid text-center w-pic" />
            <p>Scan a QR Code on your phone.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero hero-special">
      <h1 class="title text-dark mb-5">Special of the month</h1>
      <div class="container">
        <div class="row">
          <!--<div class="col-lg-6" v-for="item in items">
            <CategoryCard :item="item" />
          </div>-->
          <div class="col-lg-1 text-right"><img src="@/assets/Group 466.png" class="arrow-left"></div>
          <div class="col-lg-5">
            <div class="card card-category">
              <router-link to="/excursions-activities-detail/1">
                <img class="card-img-top" src="@/assets/cooking_3-1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chef Choice-Cooking lesson</h5>
                  <p class="card-text">- Visit local fresh market with Chef Pubton<br>
                  - Return to the property and enjoy the cooking class<br>
                  - Enjoy 90 minutes Relaxing massage at the New Concept Relaxing spa</p>
                  <a href="#/excursions-activities-detail/1" class="btn btn-primary">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="card card-category">
              <router-link to="/excursions-activities-detail/1">
                <img class="card-img-top" src="@/assets/Toast-Test.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">TOAST & TASTE</h5>
                  <p class="card-text">- Cocktail Class<br>
                  - 3-Course Wetstern Set Dinner<br></p>
                  <a href="#/excursions-activities-detail/1" class="btn btn-primary">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-1"><img src="@/assets/Group 466R.png" class="arrow-right"></div>
        </div>
      </div>
    </div>
    <div class="hero">
      <h1 class="title text-dark mb-5">What's On</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/3.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The Exclusive</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 34px;">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/4.expclub_06.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Airport Tranfer In</h5>
                  <h5 class="card-text-special">2,400 Point</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/limousine-detail/1" class="btn btn-primary">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/5.pool suite.jpg" alt="Card image cap" style="min-height: 169px;">
                <div class="card-body">
                  <h5 class="card-title">Pool Suite</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 32px;">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/6.Dinning-1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 19px;">De Richy The Exclusive</h5>
                  <h5 class="card-text-special">15% discount</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/dining" class="btn btn-primary">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/7.Club.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The House Lounge</h5>
                  <h5 class="card-text-special">10% discount</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/club-lounge" class="btn btn-primary" style="margin-top: 27px;">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/8.club-2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Premprache Collection</h5>
                  <h5 class="card-text-special">10% discount</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/shopping" class="btn btn-primary" style="margin-top: 26px;">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/9.SPA-1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The New Concept...</h5>
                  <h5 class="card-text-special">1,500 Points</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/spa-wellness" class="btn btn-primary" style="margin-top: 30px;">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-category">
              <router-link to="/hotel-resort-detail/1">
                <img class="card-img-top" src="@/assets/0.Home page/10.expclub_02.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Cherry Blossom...</h5>
                  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                  standard dummy text ever since the 1500s</p>
                  <a href="#/excursions-activities" class="btn btn-primary" style="margin-top: 63px;">More Information</a>
                </div>
              </router-link>
            </div>
          </div>
          <!--<div class="col-lg-3" v-for="item in items">
            <CategoryCard :item="item" />
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PhotoSlide from '@/components/photoSlide'

export default {
  name: 'Home',
  components: {
    PhotoSlide
  }
}
</script>
