<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Hotel & Resort Experience</h1>
            <p class="sub-title">Immerse yourself in relaxing vacations with various types of accommodations to select from.</p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/1.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The Exclusive</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/2.pool suite.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Pool Suite</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/3.Tamarind Village .jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Tamarind Village</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/4.Khum Phaya Resort & Spa.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Khum Phaya Resort & Spa</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 16px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/5.The Dhara Dhevi Chiang Mai.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The Dhara Dhevi</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/6.Yaang Come Village.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Yaang Come Village</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/7.Rarin Jinda.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Rarin Jinda</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/8.Rachamankha.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Rachamankha Hotel</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/9.shangri-la-hotel-chiang-mai.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Shangri-La Hotel</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/10.Kireethara Boutique Resort.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Kireethara Boutique Resort</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 18px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/11.Siripanna Villa Resort, Chiang Mai.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Siripanna Villa Resort</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/hotel-resort-detail/1">
                                <img class="card-img-top" src="@/assets/3.hotel and resort/12.670b0de4_z.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">U nimman</h5>
                                    <h6 class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
                                    <a href="#/hotel-resort-detail/1" class="btn btn-primary" style="margin-top: 40px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto;">
                        <ul class="pagination pagination-mdf">
                        <li class="page-item"><a class="page-link" href="#"><</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'HotelAndResort'
}
</script>
