<template>
    <div class="hotel-resort-detail">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-8">
                    <img src="@/assets/0.Home page/3.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">The Exclusive</h1>
                    <div class="border mb-3"></div>
                    <h2 class="detail-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                    standard dummy text ever since the 1500s,</h2>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right mt-5" @click="showReservation">Reserve</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="head-info mt-5">Term & Condition</h1>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. Maecenas eget eros ultricies, euismod erat et,
                    gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor nunc bibendum rhoncus porta. In cursus
                    elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. In hac habitasse platea dictumst.
                    Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                    <div class="mt-4">Praesent interdum ex vitae augue ultricies, nec bibendum urna lacinia. Ut fringilla tellus vitae ullamcorper porta. Etiam lobortis
                    turpis in odio volutpat, sed fermentum neque egestas. Nullam bibendum molestie dui lobortis finibus. Sed non porttitor eros.
                    Donec ullamcorper blandit nulla, sodales viverra felis hendrerit vitae. Integer ut lectus nulla.</div>
                    <div class="mt-4">Suspendisse viverra libero urna, in commodo libero interdum eget. Praesent at mauris semper, sodales felis a, tristique sapien.
                    Donec sit amet magna commodo, ultrices arcu ac, volutpat ante. Integer a molestie turpis. Proin id ex ut nibh interdum
                    pulvinar. Aliquam non quam at lectus facilisis lacinia nec sit amet est. Suspendisse quis diam sed orci consectetur sollicitudin
                    nec efficitur lacus. Morbi varius sit amet lorem non auctor. Quisque pulvinar consequat convallis. Sed tellus est, lacinia in
                    consectetur ut, lacinia ut leo. Aliquam et mauris risus. Ut ultricies nisl et suscipit feugiat. Praesent rutrum quam dolor, a
                    consectetur lacus cursus sed. Morbi a aliquam arcu.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="head-info mt-5 mb-3">Room type</h1>
                    <div class="row mb-5">
                        <div class="col-sm-4">
                            <img src="@/assets/0.Home page/the-new-concept-boutique-condo_3632.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-8">
                            <p class="head-text">Club Superior</p>
                            <div class="border"></div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Room type</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Club Superior</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Room Size</p></div>
                                <div class="col-sm-10"><p class="room-detail">: 46 SQM</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Capacity</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Maximum 2 persons</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Amenities</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam.
                                In a convallis leo. Curabitur finibus cursus metus sit amet pellentesque. Donec vel ornare nisi.
                                Phasellus egestas, felis non maximus aliquam, mi libero hendrerit augue, eu rutrum quam tortor vel...</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Detail</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam.
                                In a convallis leo. Curabitur finibus cursus metus sit amet pellentesque. Donec vel ornare nisi.
                                Phasellus egestas, felis non maximus aliquam, mi libero hendrerit augue, eu rutrum quam tortor vel...</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-sm-4">
                            <img src="@/assets/0.Home page/the-new-concept-boutique-condo_3632.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-8">
                            <p class="head-text">Premier Suite 2 Bedrooms</p>
                            <div class="border"></div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Room type</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Premier Suite 2 Bedrooms</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Room Size</p></div>
                                <div class="col-sm-10"><p class="room-detail">: 77 SQM</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Capacity</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Maximum 4 persons</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Amenities</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam.
                                In a convallis leo. Curabitur finibus cursus metus sit amet pellentesque. Donec vel ornare nisi.
                                Phasellus egestas, felis non maximus aliquam, mi libero hendrerit augue, eu rutrum quam tortor vel...</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Detail</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam.
                                In a convallis leo. Curabitur finibus cursus metus sit amet pellentesque. Donec vel ornare nisi.
                                Phasellus egestas, felis non maximus aliquam, mi libero hendrerit augue, eu rutrum quam tortor vel...</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-sm-4">
                            <img src="@/assets/0.Home page/the-new-concept-boutique-condo_3632.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-8">
                            <p class="head-text">Family Suite 2 Bedrooms</p>
                            <div class="border"></div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Room type</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Family Suite 2 Bedrooms</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Room Size</p></div>
                                <div class="col-sm-10"><p class="room-detail">: 82 SQM</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Capacity</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Maximum 4 persons</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Amenities</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam.
                                In a convallis leo. Curabitur finibus cursus metus sit amet pellentesque. Donec vel ornare nisi.
                                Phasellus egestas, felis non maximus aliquam, mi libero hendrerit augue, eu rutrum quam tortor vel...</p></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"><p class="room-detail">Detail</p></div>
                                <div class="col-sm-10"><p class="room-detail">: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ultrices dolor eu aliquam.
                                In a convallis leo. Curabitur finibus cursus metus sit amet pellentesque. Donec vel ornare nisi.
                                Phasellus egestas, felis non maximus aliquam, mi libero hendrerit augue, eu rutrum quam tortor vel...</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <!--  modal for the exclusive -->
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 1">
                    <h3 class="text-center">Detail of reservation</h3>
                    <h5 class="text-center">The Exclusive</h5>
                    <div class="row mt-4">
                        <div class="col-sm-3">Arrival Date</div>
                        <div class="col-sm-9"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Departure Date</div>
                        <div class="col-sm-9"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Guest name</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3 modal-font">
                        <div class="col-sm-3">Room type</div>
                        <div class="col-sm-3 menu-pc mb-0"><label>Number of room(s)</label></div>
                        <div class="col-sm-3 menu-pc mb-0"><label>Number of adult(12 years & up)</label></div>
                        <div class="col-sm-3 menu-pc mb-0"><label>Number of Children(4-11 years)</label></div>
                    </div>
                    <div class="row modal-font">
                        <div class="col-sm-3"><strong><label class="mt-20">Club Superior</label></strong></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of room(s)</label></div>
                        <div class="col-sm-3 mt-0"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of adult(12 years & up)</label></div>
                        <div class="col-sm-3 mt-0"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of Children(4-11 years)</label></div>
                        <div class="col-sm-3 mt-0"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                    </div>
                    <div class="row mt-2 modal-font">
                        <div class="col-sm-3"><strong><label class="mt-20">Premier Suite 2 bedrooms</label></strong></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of room(s)</label></div>
                        <div class="col-sm-3"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of adult(12 years & up)</label></div>
                        <div class="col-sm-3"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of Children(4-11 years)</label></div>
                        <div class="col-sm-3"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                    </div>
                    <div class="row mt-0 modal-font">
                        <div class="col-sm-3"><strong><label class="mt-20">Family Suite 2 bedrooms</label></strong></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of room(s)</label></div>
                        <div class="col-sm-3"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of adult(12 years & up)</label></div>
                        <div class="col-sm-3"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                        <div class="col-sm-3 menu-responsive"><label>Number of Children(4-11 years)</label></div>
                        <div class="col-sm-3"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Special requirement</div>
                        <div class="col-sm-9"><div class="form-group"><textarea type='text' class="form-control" ></textarea></div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center mb-5">The Exclusive</h4>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Hotel name</div>
                        <div class="col-sm-6">: Lorem ipsum dolor sit amet.</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Guest name</div>
                        <div class="col-sm-6">: Lorem ipsum dolor sit amet.</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Date of arrival</div>
                        <div class="col-sm-6">: 00/00/0000</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Date of departure</div>
                        <div class="col-sm-6">: 00/00/0000</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Total of night</div>
                        <div class="col-sm-6">: 01</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Number of room(s)</div>
                        <div class="col-sm-6">: A02</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Room type</div>
                        <div class="col-sm-6">: Club Superior</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Number of adult(12 years & up)</div>
                        <div class="col-sm-6">: 02</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Number of children</div>
                        <div class="col-sm-6">: 02</div>
                    </div>
                    <div class="row">
                        <h6 class="text-center mt-5" style="line-height: 1.5rem;">At present, the total of 
                        <label class="mb-0" style="font-weight: 600;">2,400 points</label>
                        is now hold and will be deducted after you have received the confirmation letter from the Experience club</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">100,000</h1><h6>Points Now</h6>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-1">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">2,400</h1><h6>Deduct</h6>
                        </div>
                        <div class="col-lg-1 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-2">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">76,000</h1><h6>Balance</h6>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 3">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation. Our Guest Experience Specialist will contact you and
                    inform deduct point within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'HotelAndResortDetaill',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}
</script>
