<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Top up (THB)</th>
          <th scope="col">Points</th>
          <th scope="col">Top up ID</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/11/2561</td>
          <td>100</td>
          <td>100</td>
          <td>A2379c3675</td>
          <td>
            <button type="button" class="mr-2" @click="showView">View</button>
            <button type="button" @click="showUpload">Upload inform topup</button>
          </td>
        </tr>
        <tr>
          <td>02/03/2561</td>
          <td>300</td>
          <td>300</td>
          <td>L2485m1289</td>
          <td>
            <button type="button" class="mr-2" @click="showView">View</button>
            <button type="button" @click="showUpload">Upload inform topup</button>
          </td>
        </tr>
        <tr>
          <td>16/03/2561</td>
          <td>500</td>
          <td>500</td>
          <td>i8651285J55</td>
          <td>
            <button type="button" class="mr-2" @click="showView">View</button>
            <button type="button" @click="showUpload">Upload inform topup</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->
    <b-modal ref="ModalViewRef" :hide-header="true" :hide-footer="true" size="lg">
        <div class="row">
            <!--  modal for view -->
            <div class="col-lg-9 offset-lg-1 mt-4 point-degail-modal">
                <h3 class="text-center mb-4">Inform topup details</h3>
                <div class="row offset-lg-3">
                    <div class="col-sm-5 w-50">Date</div>
                    <div class="col-sm-7 w-50">: 12/11/2561</div>
                </div>
                <div class="row mt-3 offset-lg-3">
                    <div class="col-sm-5 w-50">Top up ID</div>
                    <div class="col-sm-7 w-50">: A2379c3675</div>
                </div>
                <div class="row mt-3 offset-lg-3">
                    <div class="col-sm-5 w-50">Top up</div>
                    <div class="col-sm-7 w-50">: 100 baht</div>
                </div>
                <div class="row mt-3 offset-lg-3">
                    <div class="col-sm-5 w-50">Get points</div>
                    <div class="col-sm-7 w-50">: 100 points</div>
                </div>
                <div class="row mt-3 offset-lg-3">
                    <div class="col-sm-5 w-50">Points balance</div>
                    <div class="col-sm-7 w-50">: 100,100 points</div>
                </div>
                <div class="row mt-5 offset-lg-3">
                    <h6 class="col-sm-12">Experience Club Bank Account</h6>
                </div>
                <div class="row mt-3 offset-lg-3">
                    <div class="col-sm-5">Account Name</div>
                    <div class="col-sm-7">: Lorem ipsum dolor sit</div>
                </div>
                <div class="row mt-3 offset-lg-3">
                    <div class="col-sm-5">Account Number</div>
                    <div class="col-sm-7">: xxxxx-xxxx-xx</div>
                </div>
                <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                    <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideView">Close</button>
                </div>
            </div>
        </div>
    </b-modal>

    <!-- Modal Component -->
    <b-modal ref="ModalUploadRef" :hide-header="true" :hide-footer="true" size="lg">
        <div class="row">
            <!--  modal upload -->
            <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal">
                <h2 class="text-center mb-4">Inform topup</h2>
                <h4 class="text-center border border-user py-2">Top up ID A2379c3675</h4>
                <div class="row mt-5 offset-lg-1">
                    <h5 class="col-sm-12">Transfer Account</h5>
                </div>
                <div class="row offset-lg-1">
                    <h6 class="col-sm-12">Customer</h6>
                </div>
                <div class="row offset-lg-1">
                    <div class="col-sm-5">Account Holder</div>
                    <div class="col-sm-7"><input type="text" class="form-control"></div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Bank Name</div>
                    <div class="col-sm-7"><input type="text" class="form-control"></div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Account Number</div>
                    <div class="col-sm-7"><input type="text" class="form-control"></div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Account Types</div>
                    <div class="col-sm-7"><select class="form-control"><option></option></select></div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Amount</div>
                    <div class="col-sm-6"><input type="text" class="form-control"></div>
                    <div class="col-sm-1 ml-baht">baht</div>
                </div>
                <div class="row offset-lg-1">
                    <div class="col-sm-5">Time of Transfer</div>
                    <div class="col-sm-7">: 00/00/0000 00:00</div>
                </div>
                <div class="row mt-5 offset-lg-1">
                    <h5 class="col-sm-12">Receive Account</h5>
                </div>
                <div class="row offset-lg-1">
                    <h6 class="col-sm-12">Experience Club Bank Account</h6>
                </div>
                <div class="row offset-lg-1">
                    <div class="col-sm-5">Account Holder</div>
                    <div class="col-sm-7">: Lorem ipsum dolor sit amet</div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Bank Name</div>
                    <div class="col-sm-7">: Lorem ipsum dolor sit amet</div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Account Number</div>
                    <div class="col-sm-7">: xxxxx-xxxx-xx</div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Account Types</div>
                    <div class="col-sm-7">: Lorem ipsum dolor sit amet</div>
                </div>
                <div class="row mt-3 offset-lg-1">
                    <div class="col-sm-5">Upload payment slip</div>
                    <div class="col-sm-7">
                        <img src="@/assets/Preview-icon.png" class="border border-user px-5 py-3" />
                        <div class="upload-btn-wrapper mt-3">
                            <button class="btn" style="width: 40%;">Upload</button>
                            <input type="file" name="myfile" class="btn" />
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6 text-center">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideUpload">Submit</button>
                    </div>
                    <div class="col-lg-6 text-center">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideUpload">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

  </div>
</template>

<script>
export default {
  name: 'InformTransfer',
  data() {
    return {
      url: null,
    }
  },
  methods: {
    showView () {
      this.$refs.ModalViewRef.show()
    },
    hideView () {
      this.$refs.ModalViewRef.hide()
    },
    showUpload () {
      this.$refs.ModalUploadRef.show()
    },
    hideUpload () {
      this.$refs.ModalUploadRef.hide()
    },
    onFileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    }
  }
}
</script>

