<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Limousine Experience</h1>
            <p class="sub-title">The aesthetics journey by a chauffeur-driven to your preferred destinations with safe, elegant
            and efficient transportation that you can trust</p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/limousine-detail/1">
                                <img class="card-img-top" src="@/assets/2.Limousine.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Car hire by hour<br>(4 hours)</h5>
                                    <h5 class="card-text-special">2,400 Point</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#/limousine-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/limousine-detail/1">
                                <img class="card-img-top" src="@/assets/2.Limousine.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Car hire by hour<br>(8 hours)</h5>
                                    <h5 class="card-text-special">2,400 Point</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#/limousine-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/limousine-detail/4">
                                <img class="card-img-top" src="@/assets/2.Limousine.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Airport Transfer In</h5>
                                    <h5 class="card-text-special" style="margin-top: 36px;">2,400 Point</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#/limousine-detail/4" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/limousine-detail/7">
                                <img class="card-img-top" src="@/assets/2.Limousine.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Airport Transfer Out</h5>
                                    <h5 class="card-text-special" style="margin-top: 36px;">2,400 Point</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#/limousine-detail/7" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/limousine-other-detail/1">
                                <img class="card-img-top" src="@/assets/2.Limousine.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Other arrangement</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <a href="#/limousine-other-detail/1" class="btn btn-primary" style="margin-top: 36px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Limousine'
}
</script>
