<template>
    <div class="limousine-detail">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <img src="@/assets/2.Limousine.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">Orther arrangement</h1>
                    <div class="border mb-3"></div>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. 
                    Maecenas eget eros ultricies, euismod erat et</h5>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right mt-5" @click="showReservation">Reserve</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h1 class="head-info mt-5">Term & Condition</h1>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. Maecenas eget eros ultricies, euismod erat et,
                    gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor nunc bibendum rhoncus porta. In cursus
                    elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. In hac habitasse platea dictumst.
                    Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                    <div class="mt-4">Praesent interdum ex vitae augue ultricies, nec bibendum urna lacinia. Ut fringilla tellus vitae ullamcorper porta. Etiam lobortis
                    turpis in odio volutpat, sed fermentum neque egestas. Nullam bibendum molestie dui lobortis finibus. Sed non porttitor eros.
                    Donec ullamcorper blandit nulla, sodales viverra felis hendrerit vitae. Integer ut lectus nulla.</div>
                    <div class="mt-4">Suspendisse viverra libero urna, in commodo libero interdum eget. Praesent at mauris semper, sodales felis a, tristique sapien.
                    Donec sit amet magna commodo, ultrices arcu ac, volutpat ante. Integer a molestie turpis. Proin id ex ut nibh interdum
                    pulvinar. Aliquam non quam at lectus facilisis lacinia nec sit amet est. Suspendisse quis diam sed orci consectetur sollicitudin
                    nec efficitur lacus. Morbi varius sit amet lorem non auctor. Quisque pulvinar consequat convallis. Sed tellus est, lacinia in
                    consectetur ut, lacinia ut leo. Aliquam et mauris risus. Ut ultricies nisl et suscipit feugiat. Praesent rutrum quam dolor, a
                    consectetur lacus cursus sed. Morbi a aliquam arcu.</div>
                </div>
            </div>
        </div>


        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <!--  modal for car other -->
                <div id="11" class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 1">
                    <h3 class="text-center">Reservation for other</h3>
                    <h5 class="text-center">Our Guest Experience Specialist will contact you to confirm and number of point to redeem</h5>
                    <div class="row mt-4">
                        <div class="col-sm-4">Name of person</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Contact numbe</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Type of service</div>
                        <div class="col-sm-8"><div class="form-group"><select type='text' class="form-control" ><option></option></select></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Date to use</div>
                        <div class="col-sm-8"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Where to go</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Time</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Special requirement</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h5 class="text-center">Other arrangement</h5>
                    <div class="row mt-4">
                        <div class="col-sm-4">Name of person</div>
                        <div class="col-sm-8"><div class="form-group">: Mr.Sample Sample</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Contact numbe</div>
                        <div class="col-sm-8"><div class="form-group">: 09x xxxxxxx</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Type of service</div>
                        <div class="col-sm-8"><div class="form-group">: One way</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Date to use</div>
                        <div class="col-sm-8"><div class="form-group">: 00/00/0000</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Where to go</div>
                        <div class="col-sm-8"><div class="form-group">: Lorem ipsum dolor sit amet</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Time</div>
                        <div class="col-sm-8"><div class="form-group">: 00:00</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8"><div class="form-group">: Lorem ipsum dolor sit amet.</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8"><div class="form-group">: 02</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Special requirement</div>
                        <div class="col-sm-8"><div class="form-group">: Lorem ipsum dolor sit amet.</div></div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 3">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation.
                    Our Guest Experience Specialist will contact you for
                    the confirmation within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'LimousineOrtherDetail',
  data() {
    return {
      step: 1
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}

</script>


