<template>
    <div class="limousine-detail">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <img src="@/assets/2.Limousine.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">Car hire by hour<br>(4 hours)</h1>
                    <div class="border mb-3"></div>
                    <p class="detail-text">Points to redeem<br>Redeem <label>2,400</label> points</p>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right mt-5" @click="showReservation">Reserve</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h1 class="head-info mt-5">Term & Condition</h1>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. Maecenas eget eros ultricies, euismod erat et,
                    gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor nunc bibendum rhoncus porta. In cursus
                    elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. In hac habitasse platea dictumst.
                    Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                    <div class="mt-4">Praesent interdum ex vitae augue ultricies, nec bibendum urna lacinia. Ut fringilla tellus vitae ullamcorper porta. Etiam lobortis
                    turpis in odio volutpat, sed fermentum neque egestas. Nullam bibendum molestie dui lobortis finibus. Sed non porttitor eros.
                    Donec ullamcorper blandit nulla, sodales viverra felis hendrerit vitae. Integer ut lectus nulla.</div>
                    <div class="mt-4">Suspendisse viverra libero urna, in commodo libero interdum eget. Praesent at mauris semper, sodales felis a, tristique sapien.
                    Donec sit amet magna commodo, ultrices arcu ac, volutpat ante. Integer a molestie turpis. Proin id ex ut nibh interdum
                    pulvinar. Aliquam non quam at lectus facilisis lacinia nec sit amet est. Suspendisse quis diam sed orci consectetur sollicitudin
                    nec efficitur lacus. Morbi varius sit amet lorem non auctor. Quisque pulvinar consequat convallis. Sed tellus est, lacinia in
                    consectetur ut, lacinia ut leo. Aliquam et mauris risus. Ut ultricies nisl et suscipit feugiat. Praesent rutrum quam dolor, a
                    consectetur lacus cursus sed. Morbi a aliquam arcu.</div>
                </div>
            </div>
        </div>


        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <!--  modal for car hire -->
                <div id="1" class="col-lg-8 offset-lg-2 mt-4 text-center point-degail-modal" v-if="step === 1">
                    <h3>Reservation for car hire</h3>
                    <h4>Car hire by hour (4 hours)</h4>
                    <h4 class="mb-5">Points to redeem <label style="font-weight: 600;">2,400 points</label></h4>
                    <div class="row">
                        <div class="col-sm-4">Date to use</div>
                        <div class="col-sm-8"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Time</div>
                        <div class="col-sm-8"><div class="form-group"><input type='time' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Special requirement</div>
                        <div class="col-sm-8"><div class="form-group"><textarea type='text' class="form-control" ></textarea></div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center">Car hire by hour (4 hours)</h4>
                    <h4 class="text-center mb-5">Points to redeem <label style="font-weight: 600;">2,400 points</label></h4>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Date to use</div>
                        <div class="col-sm-6">: 00/00/0000</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Time</div>
                        <div class="col-sm-6">: 00:00</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Pick up venue</div>
                        <div class="col-sm-6">: Lorem Ipsum is simply</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Number of person</div>
                        <div class="col-sm-6">: 02</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-2">Special requirement</div>
                        <div class="col-sm-6">: Lorem Ipsum is simply</div>
                    </div>
                    <div class="row">
                        <h6 class="text-center mt-5" style="line-height: 1.5rem;">At present, the total of 
                        <label class="mb-0" style="font-weight: 600;">2,400 points</label>
                        is now hold and will be deducted after you have received the confirmation letter from the Experience club</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">100,000</h1><h6>Points Now</h6>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-1">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">2,500</h1><h6>Deduct</h6>
                        </div>
                        <div class="col-lg-1 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-2">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">97,500</h1><h6>Balance</h6>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 3">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 1">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 3">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation. Our Guest Experience Specialist will contact you and
                    inform deduct point within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
                <!--  modal for car tranfer in -->
                <div id="4" class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 4">
                    <h3 class="text-center">Reservation for airport transfer</h3>
                    <h4 class="text-center">Airport Transfer In</h4>
                    <h4 class="text-center mb-5">Points to redeem <label style="font-weight: 600;">2,400 points</label></h4>
                    <div class="row">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Airport name</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Arrival flight</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Arrival time</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Where to go</div>
                        <div class="col-sm-8"><div class="form-group">The New Concept</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Where to go (Other)</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 5">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 5">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center">Airport Transfer In</h4>
                    <div class="row mt-4">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8">: 00/00/0000</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Airport name</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Arrival flight</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Arrival time</div>
                        <div class="col-sm-8">: 00:00</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8">: 02</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Where to go</div>
                        <div class="col-sm-8">The New Concept</div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 6">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 4">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 6">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation.
                    Our Guest Experience Specialist will contact you for
                    the confirmation within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
                <!--  modal for car tranfer out -->
                <div id="7" class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 7">
                    <h3 class="text-center">Reservation for airport transfer</h3>
                    <h4 class="text-center">Airport Transfer Out</h4>
                    <h4 class="text-center mb-5">Points to redeem <label style="font-weight: 600;">2,400 points</label></h4>
                    <div class="row">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Airport name</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Departure flight</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up time</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8"><div class="form-group">The New Concept</div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue (Other)</div>
                        <div class="col-sm-8"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 8">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 8">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center">Airport Transfer Out</h4>
                    <div class="row mt-4">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8">: 00/00/0000</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Airport name</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Departure flight</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up time</div>
                        <div class="col-sm-8">: 00:00</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8">The New Concept</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8">: 02</div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 9">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 7">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 9">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation.
                    Our Guest Experience Specialist will contact you for
                    the confirmation within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
                <!-- ไปที่อื่นแล้วหักแต้ม -->
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 10">
                    <h3 class="text-center">Your reservation detail</h3>
                    <h4 class="text-center">Airport Transfer Out</h4>
                    <div class="row mt-4">
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-8">: 00/00/0000</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Airport name</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Departure flight</div>
                        <div class="col-sm-8">: Lorem Ipsum is simply dummy</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up time</div>
                        <div class="col-sm-8">: 00:00</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Pick up venue</div>
                        <div class="col-sm-8">The New Concept</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">Number of person</div>
                        <div class="col-sm-8">: 02</div>
                    </div>
                    <div class="row">
                        <h6 class="text-center mt-5" style="line-height: 1.5rem;">At present, the total of 
                        <label class="mb-0" style="font-weight: 600;">2,400 points</label>
                        is now hold and will be deducted after you have received the confirmation letter from the Experience club</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">100,000</h1><h6>Points Now</h6>
                        </div>
                        <div class="col-lg-2 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-1">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">2,400</h1><h6>Deduct</h6>
                        </div>
                        <div class="col-lg-1 text-center">
                            <img src="@/assets/icon-redeem.png" alt="icon redeem" class="arrow-2">
                        </div>
                        <div class="col-lg-3 text-center">
                            <h1 class="d-block">76,000</h1><h6>Balance</h6>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="row mt-5">
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 9">Reserve</button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 7">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'LimousineDetail',
  data() {
    return {
      step: Number(this.$route.params.id)
      //data = 1 :car hire
      //data = 4 :transfer in
      //data = 7 :transfer out
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}

</script>


