<template>
    <div class="medical-detail">
        <div class="container mt-5 mb-5">
            <div class="row text-center">
                <h1 class="title mb-5">The New Medical Clinic</h1>
            </div>
            <div class="row">
                <div class="col-lg-8 text-center">
                    <img src="@/assets/7.SPA-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">Name Clinic</h1>
                    <div class="border mb-3"></div>
                    <p class="detail-text mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel.</p>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right mt-5" @click="showReservation">Make appointment</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div><label class="head-info mt-5">Clinic Description :</label>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. 
                    Maecenas eget eros ultricies, euismod erat et, gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor 
                    nunc bibendum rhoncus porta. In cursus elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. 
                    In hac habitasse platea dictumst. Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div><label class="head-info mt-3">Information :</label>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. 
                    Maecenas eget eros ultricies, euismod erat et, gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor 
                    nunc bibendum rhoncus porta. In cursus elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. 
                    In hac habitasse platea dictumst. Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div><label class="head-info mt-3">Example of treatment</label>
                        <p class="detail-ex">1. Lorem ipsum dolor sit amet.</p>
                        <p class="detail-ex">2. Lorem ipsum dolor sit amet.</p>
                        <p class="detail-ex">3. Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div><label class="head-info mt-3">Location : </label>&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus.</div>
                </div>
            </div>
        </div>


        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 1">
                    <h3 class="text-center">The New Medical Clinic</h3>
                    <h5 class="text-center">Name Clinic</h5>
                    <div class="row mt-4">
                        <div class="col-sm-3">Guest Name</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Date</div>
                        <div class="col-sm-9"><div class="form-group"><input type='date' placeholder="dd/mm/yyyy" class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Time</div>
                        <div class="col-sm-9"><div class="form-group"><input type='text' class="form-control" /></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">Your skin concern</div>
                        <div class="col-sm-9"><div class="form-group"><input type='number' class="form-control" /></div></div>
                    </div>
                    <div class="col-lg-4 offset-lg-4 my-3 mt-5">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Reserve</button>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <h4 class="text-center mb-5">Thank you for your reservation. Our Guest Experience Specialist will contact you and
                    inform deduct point within 24 hours. Thank you</h4>
                    <div class="col-lg-8 offset-lg-2">
                        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'MedicalClinicDetail',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}
</script>
