<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Date & Time</th>
          <th scope="col">Subject</th>
          <th scope="col">Status</th>
          <th scope="col" style="width: 150px;">Staff</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>23/02/2018 11:03</td>
          <td>Lorem ipsum dolor sit amet</td>
          <td style="color: #FF0000;">Unread</td>
          <td>ABCDE FGHIG</td>
          <td><button type="button" class="btn btn-grey" v-b-modal.modal-reply-message>View & Reply</button></td>
        </tr>
        <tr>
          <td>10/02/2018 09:30</td>
          <td>Lorem ipsum dolor sit amet</td>
          <td style="color: #FFCC00;">Read</td>
          <td>KLMNO PGRS</td>
          <td><button type="button" class="btn btn-grey" v-b-modal.modal-reply-message>View & Reply</button></td>
        </tr>
        <tr>
          <td>31/03/2018 13:56</td>
          <td>Lorem ipsum dolor sit amet</td>
          <td style="color: #FFCC00;">Read</td>
          <td>TUVW XYZAB</td>
          <td><button type="button" class="btn btn-grey" v-b-modal.modal-reply-message>View & Reply</button></td>
        </tr>
        <tr>
          <td>19/03/2018 18:56</td>
          <td>Lorem ipsum dolor sit amet</td>
          <td style="color: #FF0000;">Unread</td>
          <td>CDEF GHIGK</td>
          <td><button type="button" class="btn btn-grey" v-b-modal.modal-reply-message>View & Reply</button></td>
        </tr>
        <tr>
          <td>15/03/2018 14:03</td>
          <td>Lorem ipsum dolor sit amet</td>
          <td style="color: #FFCC00;">Read</td>
          <td>LMNO PQRST</td>
          <td><button type="button" class="btn btn-grey" v-b-modal.modal-reply-message>View & Reply</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->
    <b-modal id="modal-reply-message" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <ReplyToMessage />
    </b-modal>
  </div>
</template>

<script>
import ReplyToMessage from '@/components/modals/modalReplyToMessage'

export default {
  name: 'MessageBox',
  components: {
    ReplyToMessage
  }
}
</script>

