<template>
<div>
  <div class="row mt-4 mb-3">
    <div class="col-lg-3"><input type='date' class="form-control" /></div>
    <div class="col-lg-3 mt-20"><input type='date' class="form-control" /></div>
    <div class="col-lg-3 mt-20"><select class="form-control"><option></option></select></div>
    <div class="col-lg-3 mt-20"><button type="submit" class="btn w-100 btn-mdf hvr-sweep-to-right">search</button></div>
  </div>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Withdraw</th>
          <th scope="col">Topup</th>
          <th scope="col">Borrow</th>
          <th scope="col">Transfer</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>12/11/2561</td>
          <td>A2379c3675</td>
          <td>Lorem Ipsum is simply dummy</td>
          <td>4000</td>
          <td>10000</td>
          <td>1000</td>
          <td>1000</td>
          <td>4000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>12/11/2561</td>
          <td>A2379c3675</td>
          <td>Lorem Ipsum is simply dummy</td>
          <td>4000</td>
          <td>10000</td>
          <td>1000</td>
          <td>1000</td>
          <td>4000</td>
        </tr>
        <tr>
          <td>3</td>
          <td>12/11/2561</td>
          <td>A2379c3675</td>
          <td>Lorem Ipsum is simply dummy</td>
          <td>4000</td>
          <td>10000</td>
          <td>1000</td>
          <td>1000</td>
          <td>4000</td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->
    <b-modal id="modal-history-point" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <UsingPointDetail @click="hideModal" />
    </b-modal>

  </div>
  <div class="row offset-lg-6 mt-3">
    <div class="col-lg-6"><button type="submit" class="btn w-100 btn-mdf hvr-sweep-to-right" @click="downloadPDF">Print</button></div>
    <div class="col-lg-6"><button type="submit" class="btn w-100 btn-mdf hvr-sweep-to-right" @click="downloadExcel">Download</button></div>
  </div>
</div>
</template>

<script>
import jsPDF from 'jspdf'
import 'jspdf-autotable';

export default {
  name: 'PointStatement',
  data() {
    return {
      name: 'Point Statement'
    }
  },
  methods: {
    downloadPDF () { 
      let dateF = '1/1/2019';
      let dateL = '1/2/2019';
      let pdfName = 'Statement' + dateF + dateL;
      var doc = new jsPDF('A4');
      doc.setFontSize(21);
      doc.setFontType('bold')
      doc.text("The Experience Club", 10, 15);
      doc.setFontSize(12);
      doc.setFontType('normal')
      doc.text("Date: 00/00/0000, 00:00", 10, 25); // current
      doc.setFontSize(16);
      doc.text(this.name, 10, 35);
      doc.autoTable({ startY: 45,
        head: [['No', 'Date', 'ID','Description', 'Withdraw', 'Topup','Borrow','Transfer','Balance']],
        body: [
          ['1', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['2', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['3', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['4', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['5', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['6', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['7', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['8', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['9', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
          ['10', '12/11/2561', 'A2379c3675','Lorem Ipsum is simply dummy', '4000', '10000','1000','1000','4000'],
        ]
      });
      doc.save(pdfName + '.pdf');
    },
    downloadExcel () {
        // download as excel
    }
  }
}
</script>