<template>
  <div class="about text-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1 class="pb-4 mb-5 text-light text-center border-bottom">นโยบายความเป็นส่วนตัว</h1>
        </div>
      </div>

      <h4 class="col-yellow mt-5">การรวบรวมข้อมูล</h4>
      <p>Experience Club จะทำการรวบรวมข้อมูลส่วนบุคคลของท่านผู้เข้าชมเว็บไซต์ เมื่ อท่านใช้บริการเว็บไซต์ ซึ่ งข้อมูลส่วนบุคคลดังกล่าว จะหมายรวมไปถึงชื่ อ, นามสกุล, ที่ อยู่, เบอร์ติดต่อ, ชื่อล็อคอิน และอีเมล์ของท่านผู้เข้าชมเว็บไซต์ ตลอดจนรวมไปถึงการตั้งค่าค้นหาที่ เกี่ยวข้องกับการค้นหาสิ่งใดสิ่งหนึ่งโดยเฉพาะ และข้อมูลที่ เกี่ยวข้อง การใช้งานอินเทอร์เน็ตทั่วไป</p>

      <h4 class="col-yellow mt-5">การปกป้องข้อมูลของผู้เข้าชมเว็บไซต</h4>
      <p>เพื่อป้องกันการเข้าถึงข้อมูลส่วนตัวของผู้เข้าชมเว็บไซต์ Experience Club โดยมิได้รับการอนุญาต ทางบริษัท Experience Club ซึ่ งถือว่าเป็นเจ้าของ จึงได้นำกระบวน การปฏิบัติทางด้านอิเล็กทรอนิกส์ และทางด้านองค์กร มาใช้อย่างเหมาะสม เพื่ อปกป้องข้อมูลส่วนตัวของท่านผู้เข้าชมเว็บไซต์จากการถูกทำลาย ที่ อาจเกิดขึ้ นโดยอุบัติเหตุ หรือผิดกฎหมาย, การสูญหายโดยอุบัติเหตุ, การดัดแปลง และการเปิดเผยหรือเข้าถึงข้อมูลโดยมิได้รับอนุญาต</p>

      <h4 class="col-yellow mt-5">การแบ่งปันข้อมูลส่วนบุคคลของผู้เข้าชมเว็บไซต</h4>
      <p>Experience Club จะไม่แบ่งปันข้อมูลส่วนบุคคลของท่านผู้เข้าชมเว็บไซต์ต่อบุคคลที่ สาม หากไม่ได้รับการยินยอมจากท่านผู้เข้าชมเว็บไซต์ เว้นเสียแต่ว่าเป็นการเปิดเผย ข้อมูลดังที่ มีระบุในนโยบายความเป็นส่วนตัวนี้ หรือการเปิดเผยข้อมูลตามการอนุญาตทางกฎหมายของเขตอำนาจศาลใดๆ</p>

      <h4 class="col-yellow mt-5">เทคโนโลยีคุ๊กกี้และเพจแท็ก</h4>
      <p>ทั้งนี้ ทางบริษัท Experience Club ได้กำหนดนโยบายความเป็นส่วนตัวในเบื้ องต้น ซึ่งได้อธิบายถึงวิธีที่ ผู้บริหารจัดการข้อมูลจะดำเนินการเกี่ ยวกับข้อมูลต่างๆ ที่ สามารถ ระบุตัวตนของท่านผู้เข้าชมเว็บไซต์ได้ ดังที่ เรียกว่า “ข้อมูลส่วนบุคคล” ซึ่งมีความเกี่ ยวข้องกับการให้บริการของเว็บไซต์ Experience Club ผ่านทางเว็บไซต์ http://Experience Club ("เว็บไซต์") ตลอดจนการอ้างอิงถึงเว็บไซต์ดังกล่าว ในนโยบายความเป็นส่วนตัวฉบับนี้ หมายรวมไปถึงผลิตภัณฑ์ที่ พัฒนามาจากเว็บไซต์นี้ ด้วย อาทิ เว็บไซต์สำหรับอุปกรณ์อิเลคทรอนิกส์แบบพกพา และแอปพลิเคชั่นต่างๆ เมื่ อท่านเข้าชมเว็บไซต์ของ Scenespace จึงถือเป็น การยินยอมและแสดงว่าท่านผู้เข้าชม เว็บไซต์ได้ยินยอมให้ทางบริษัทบริษัท Experience Club ทำการรวบรวมข้อมูลต่างๆของท่าน, การนำข้อมูลไปใช้, การเปิดเผยข้อมูล และดำเนินการเกี่ ยวกับข้อมูล ส่วนบุคคลของท่าน ตามที่ ได้ระบุไว้ในนโยบายความเป็นส่วนตัวนี้</p>

      <p class="text-right mt-5">อัปเดตครั้งล่าสุดเมื่อวันที่ 3 สิงหาคม พ.ศ. 2561</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Privacy'
}
</script>

