<template>
    <div class="reward">
        <div class="container">
            <h1 class="title mb-4">Privilege Spa Discount</h1>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Name of spa</h5>
                                    <h5 class="card-text-special">10% discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text" style="min-height: 0px;">Operation hours.....</p>
                                    <a href="#/privilege-spa-discount-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
                <div class="row text-center">
                    <nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto;">
                        <ul class="pagination pagination-mdf">
                        <li class="page-item"><a class="page-link" href="#"><</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'PrivilegeSpaDiscount'
}
</script>
