<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Privilege Dining Discount</h1>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Khao restaurant<br>Four Seasons Resort Chiang Mai</h5>
                                <label class="card-text-special bold">10% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ruen Tamarind restaurant<br>Tamarind Village</h5>
                                <label class="card-text-special bold">20% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Khao restaurant<br>Four Seasons Resort Chiang Mai</h5>
                                <label class="card-text-special bold">10% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Khao restaurant<br>Four Seasons Resort Chiang Mai</h5>
                                <label class="card-text-special bold">10% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ruen Tamarind restaurant<br>Tamarind Village</h5>
                                <label class="card-text-special bold">20% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Khao restaurant<br>Four Seasons Resort Chiang Mai</h5>
                                <label class="card-text-special bold">10% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Khao restaurant<br>Four Seasons Resort Chiang Mai</h5>
                                <label class="card-text-special bold">10% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ruen Tamarind restaurant<br>Tamarind Village</h5>
                                <label class="card-text-special bold">20% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-item">
                        <router-link to="/privilege-dining-discount-detail/1">
                            <img class="card-img-top" src="@/assets/4.Dinning/Dinning-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Khao restaurant<br>Four Seasons Resort Chiang Mai</h5>
                                <label class="card-text-special bold">10% discount</label>&nbsp;
                                <label class="card-text-describe bold">Food & Beverage</label>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="card-text-describe bold">Operating hours...</p>
                                <a href="#/privilege-dining-discount-detail/1" class="btn btn-dining">More Information</a>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto;">
                    <ul class="pagination pagination-mdf">
                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'PrivilegeDiningDiscount'
}
</script>
