<template>
  <div>
    <div class="container mt-5 reward-detail">
      <div class="row">
        <div class="col-lg-6">
          <img src="@/assets/photo.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 offset-lg-1 reward-description">
          <h2 class="border-bottom pb-3">ไอศครีม Dairy Queen</h2>
          <p>เหลือเวลาอีก 2 วัน 4 ช่ัวโมง 53 นาที 40 วินาที</p>

          <p class="mt-5"><strong>ไอศครีม Dairy Queen รส Oreo vanilla <br />แก้วใหญ่ 1 แก้ว</strong></p>
          <p class="price">คะแนนที่ใช้แลก <span class="px-2">120</span> คะแนน</p>
          <button type="button" class="btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-b-modal.modal-redeem>แลกทันที</button>
        </div>
        <div class="col-lg-12 mt-5">
          <h4>ข้อกําหนดและเงื่อนไข</h4>
          <ul>
            <li>กรุณานําโทรศัพท์เคลื่อนท่ีของท่านมากดรับสิทธิ์ ณ จุดจําหน่ายสินค้าและไม่สามารถรับสิทธิ์ได้จากการแสดงภาพที่บันทึกสิทธ์ิบนหน้าจอโทรศัพท์</li>
            <li>จํานวนจํากัด 10,000 สิทธิ/เดือน</li>
            <li>1 รหัสโปรโมชั่น 1 สิทธิ์/เดือน</li>
            <li>สามารถแลกรับสิทธิ์ได้ตังแต่วันนี จนถึง 31 ธันวาคม 2561</li>
            <li>ไม่สามารถแลกเปลี่ยนหรือทอนเป็นเงินสดได้ และไม่สามารถใช้ร่วมกับส่วนลดหรือโปรโมชั่นอ่ืนได้</li>
            <li>บริษัทฯ ขอสงวนสิทธิ์การแก้ไขหรือเปลี่ยนแปลงเงื่อนไขต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
            <li>บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิกหรือคืนคะแนนสะสมในทุกกรณี เมื่อยืนยันการแลกคะแนนเสร็จสมบูรณ์</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero hero-interesting mt-5">
      <div class="container">
        <h1 class="title text-dark">สิ่งอื่นที่หน้าสนใจ</h1>
        <CardSlide :items="items" />
        <h1 class="title text-dark mt-5">กำลังจะหมดเวลา</h1>
        <CardSlide :items="items" />
      </div>
    </div>
    <!-- Modal Component -->
    <b-modal id="modal-redeem" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <ModalRedeem @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import CardSlide from '@/components/cardSlide'
import ModalRedeem from '@/components/modals/modalRedeem'

export default {
  name: 'RewardDetail',
  components: {
    CardSlide,
    ModalRedeem
  },
  data() {
    return {
      items: [
        { id: 1, type: 1 },
        { id: 2, type: 1 },
        { id: 3, type: 2 },
        { id: 4, type: 1 },
        { id: 5, type: 2 },
        { id: 6, type: 1 }
      ]
    }
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  }
}
</script>
