<template>
  <div class="reward">
    <div class="container">
      <h1 class="title my-5">Guest Experience</h1>
      <div class="row search-reward-form">
        <div class="col-sm-3"><input type="text" class="form-control" placeholder="ชื่อ Reward"></div>
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="ประเภท">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="คะแนนที่ใช้แลก">
        </div>
        <div class="col-sm-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="ช่วงเวลาที่ใกล้หมดอายุ" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero mt-5 hero-reward">
      <div class="container">
        <div class="row">
          <div class="col-lg-3" v-for="item in items">
            <ItemCard :item="item" />
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-mdf">
          <li class="page-item"><a class="page-link" href="#"><</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">></a></li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import ItemCard from '@/components/cards/itemCard'
export default {
  name: 'Reward',
  components: {
    ItemCard
  },
  data() {
    return {
      items: [1,2,3,4,5,6,7,8]
    }
  }
}
</script>
