<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Shopping Experience</h1>
            <p class="sub-title">Enjoy shopping with a high level of personalization and exclusivity by going above and beyond to indulge in a unique experience from start to finish.</p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/Club.jpg" alt="Card image cap">                
                                <div class="card-body">
                                    <h5 class="card-title">Jolie Femme Fine Silk</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/club-2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Prempracha Collection</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/8ZfIwgY.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">PUMA</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/Group 2229.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">LACOSTE</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <!--<div class="col-lg-3" v-for="item in items">
                        <ItemCard :item="item" />
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/adidas-150x150.gif" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">adidas</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/1200px-The_North_Face_logo.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The North Face</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/v-eyewear-logo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">EYEWEAR</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/Group 2237.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">ROLEX</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/Group 1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">POLO</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/53.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">LA MER</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/Group2.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">ZARA</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-item">
                            <router-link to="/shopping-detail/1">
                                <img class="card-img-top" src="@/assets/6.Shopping/uniqlo-logo-preview.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">UNIQLO</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p class="card-text">Operation Hours.....</p>
                                    <a href="#/shopping-detail/1" class="btn btn-primary">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <nav aria-label="Page navigation" style="margin-left: auto; margin-right: auto;">
                        <ul class="pagination pagination-mdf">
                        <li class="page-item"><a class="page-link" href="#"><</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Shopping'
}
</script>
