<template>
    <div class="available-point-redemption-detail">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <img src="@/assets/5.Club/Club.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-4">
                    <h1 class="head-txt">Jolie Femme Fine Silk</h1>
                    <div class="border mb-3"></div>
                    <p class="detail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel</p>
                    <p class="discount-text">10% discount</p>
                    <p class="detail-text">Food & Beverage</p>
                    <p class="detail-text mt-5">Location.....</p>
                    <p class="detail-text">Operation hours....</p>
                    <button type="submit" class="btn btn-mdf hvr-sweep-to-right" @click="showReservation">Click to get voucher</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h1 class="head-info mt-5">Term & Condition</h1>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at nunc metus. Maecenas eget eros ultricies, euismod erat et,
                    gravida risus. Suspendisse at ex vel est pharetra molestie id ac risus. Proin porttitor nunc bibendum rhoncus porta. In cursus
                    elit sit amet ligula dapibus faucibus. Sed bibendum laoreet augue. Phasellus nec odio dolor. In hac habitasse platea dictumst.
                    Fusce laoreet semper mauris, sit amet imperdiet eros ornare in. Fusce vitae hendrerit elit, eget malesuada lacus. Cras
                    fermentum sem nulla, vestibulum tincidunt diam aliquam eget. Nulla facilisi. Integer vehicula venenatis metus, vel aliquet libero
                    cursus nec.</div>
                    <div class="mt-4">Praesent interdum ex vitae augue ultricies, nec bibendum urna lacinia. Ut fringilla tellus vitae ullamcorper porta. Etiam lobortis
                    turpis in odio volutpat, sed fermentum neque egestas. Nullam bibendum molestie dui lobortis finibus. Sed non porttitor eros.
                    Donec ullamcorper blandit nulla, sodales viverra felis hendrerit vitae. Integer ut lectus nulla.</div>
                    <div class="mt-4">Suspendisse viverra libero urna, in commodo libero interdum eget. Praesent at mauris semper, sodales felis a, tristique sapien.
                    Donec sit amet magna commodo, ultrices arcu ac, volutpat ante. Integer a molestie turpis. Proin id ex ut nibh interdum
                    pulvinar. Aliquam non quam at lectus facilisis lacinia nec sit amet est. Suspendisse quis diam sed orci consectetur sollicitudin
                    nec efficitur lacus. Morbi varius sit amet lorem non auctor. Quisque pulvinar consequat convallis. Sed tellus est, lacinia in
                    consectetur ut, lacinia ut leo. Aliquam et mauris risus. Ut ultricies nisl et suscipit feugiat. Praesent rutrum quam dolor, a
                    consectetur lacus cursus sed. Morbi a aliquam arcu.</div>
                </div>
            </div>
        </div>


        <!-- Modal Component -->
        <b-modal ref="modalReservation" hide-footer hide-header size="lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 1">
                    <img src="@/assets/Group 3969-1.png" class="img-fluid" alt="">
                    <div class="row mt-5">
                        <div class="col-lg-4 text-center">
                            <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Save Voucher</button>
                        </div>
                        <div class="col-lg-8 text-center">
                            <a href="#/limousine">
                                <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100 font-small-login-btn">Save Voucher & reserve a limousine</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 mt-4 point-degail-modal" v-if="step === 2">
                    <h1 class="text-center mb-4">Thank you!!</h1>
                    <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideReservation">Close</button>
                </div>
            </div>
        </b-modal>


    </div>
</template>

<script>
export default {
  name: 'ShoppingDetail',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    showReservation () {
      this.$refs.modalReservation.show()
    },
    hideReservation () {
      this.$refs.modalReservation.hide()
    }
  }
}
</script>
