<template>
    <div class="reward">
        <div class="container">
            <h1 class="title">Spa & Wellness Experience</h1>
            <p class="sub-title">Unique sensory spa retreats for both physically and mentally. Enjoy tranquility that promotes relaxation, health, pleasure, 
            and rejuvenation by using various techniques to stimulate all senses. </p>
            <div class="row search-reward-form">
                <div class="col-sm-11 text-center p-search">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-search" type="button" id="button-addon2"><font-awesome-icon icon="search" /></button>
                </div>
            </div>
        </div>
        <div class="hero mt-5 hero-reward">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/relaxing-massage">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The New Concept relaxing Massage</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    <a href="#/relaxing-massage" class="btn btn-dining" style="margin-top: 20px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/medical-clinic-detail/1">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">The New Medical Clinic</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    <a href="#/medical-clinic-detail/1" class="btn btn-dining" style="margin-top: 45px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-item">
                            <router-link to="/privilege-spa-discount">
                                <img class="card-img-top" src="@/assets/7.SPA-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Privilege Spa Discount</h5>
                                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                    <a href="#/privilege-spa-discount" class="btn btn-dining" style="margin-top: 45px;">More Information</a>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'SpaAndWellness',
}
</script>
