<template>
  <div class="row">
    <div class="col-lg-6 offset-lg-3" style="margin-top: 4rem;">
      <div class="text-center my-4">
        <img src="@/assets/logo.jpg" height="100px" alt="logo">
      </div>
      <div class="box-login">
        <div class="text-center mb-3">
          <h1 class="login-title">Success! Your Password has been changed!</h1>
        </div>
        <div class="text-center"><img src="@/assets/icon-success.png" height="100px" alt="logo"></div>
        <button type="submit" class="btn btn-login btn-lg mt-4 btn-block" v-on:click="handleLogin">Confirm</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  user  : 'ResetPassword',
  methods: {
    handleLogin: function () {
      this.$router.push('/');
    }
  }
}
</script>

