<template>
  <div class="ml-3 mt-5">
    <h1>Terms & Condition</h1>
    <ul class="mt-4 lineh-2">
      <li>Experience Club Co., Ltd. is a company who responsible for managing, coordinating guest’s reservation and providing
        service requests only. </li>
      <li>Local rules and regulations must be obeyed in accordance to Service Provider or Owner of theArea. </li>
      <li>Service Provider or Owner of the Area reserved all rights to keep terms and condition updated and must notify all
        changes to Experience Club within 30 days prior to launching date (or in the case of urgent modifications, must be
        inform not less than 7 business working days.)</li>
      <li>In the event of insecurities or disasters, Service Provider or Owner of the area is to be solely responsible.</li>
    </ul>

    <h6 class="mt-5">Cardholder Benefits for TNC Hotels & Residences</h6>
    <p class="mb-0">Every use of The New Concept Group’s accommodation will receive the following benefits: </p>
    <ul class="mt-1 lineh-2">
      <li>Seasonal Welcome Fruits (valid for overnight stays only)</li>
      <li>Breakfast inclusive of 2 persons / 1 room occupied (valid for overnight stays only)</li>
      <li>15% discount on Food & Beverages in dining room only (excludes promotion and room service)</li>
      <li>15% discount on Spa Treatments (excludes promotion)</li>
      <li>15% discount on TNC Accommodation’s Rate (excludes promotion) when settle payment in cash and not deducted
      from Vacation Points.</li>
    </ul>
    <h6 class="mt-2">Validity of Vacation Points</h6>
    <ul class="mt-1 lineh-2">      
      <li>Vacation Points valid for 1 calendar year from 1 January to 31 December every year.</li>
    </ul>

    <h6 class="mt-5">Ways to redeem Vacation Points</h6>
    <p class="mb-0">How to redeem Vacation Points: </p>
    <ul class="mt-1 lineh-2">
      <li>Select products: accommodation, service, activity or excursion.</li>
      <li>Contact Experience Club’s officer for making reservations.</li>
      <li>Staff will book and update each reservation’s status.</li>
      <li>Points status will be changed to “Pending – under progress” and will be hold and unable to use the certain
      amount for other bookings.</li>
      <li>Once the reservation is confirmed, the blocked points will be deducted immediately.</li>
      <li>In case of cancel according to Terms of Cancellation, deducted points will be credited back to customer account.
      Full or partial refund is subject to Terms of Cancellation of such goods and services.</li>
      <li>In case of customer failure to participate in reserved service on reservation’s date and did not cancel within the
      specified dateline. No refund will be made, except in the case of force majeure, will be at discretion of Experience
      Club Co., Ltd only.</li>
    </ul>

    <h6 class="mt-5">Cardholder Benefits for TNC Hotels & Residences</h6>
    <p class="mb-0">Every use of The New Concept Group’s accommodation will receive the following benefits: </p>
    <ul class="mt-1 lineh-2">
      <li>Seasonal Welcome Fruits (valid for overnight stays only)</li>
      <li>Breakfast inclusive of 2 persons / 1 room occupied (valid for overnight stays only)</li>
      <li>15% discount on Food & Beverages in dining room only (excludes promotion and room service)</li>
      <li>15% discount on Spa Treatments (excludes promotion)</li>
      <li>15% discount on TNC Accommodation’s Rate (excludes promotion) when settle payment in cash and not deducted
      from Vacation Points</li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'Terms'
}
</script>

