<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Top up date</th>
          <th scope="col">Credit (THB)</th>
          <th scope="col">ID</th>
          <th scope="col">Valid until</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/11/2561</td>
          <td>100</td>
          <td>A2379c3675</td>
          <td>12/11/2562</td>
          <td><button type="button" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
        <tr>
          <td>02/03/2561</td>
          <td>300</td>
          <td>L2485m1289</td>
          <td>02/03/2562</td>
          <td><button type="button" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
        <tr>
          <td>16/03/2561</td>
          <td>500</td>
          <td>i8651285J55</td>
          <td>16/03/2562</td>
          <td><button type="button" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->
    <b-modal id="modal-topup-history" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <ModalTopupHistory @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import ModalTopupHistory from '@/components/modals/modalTopupHistory'

export default {
  name: 'TopupHistory',
  components: {
    ModalTopupHistory
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  },
  data() {
    return {
      items: [1,2,3,4,5,6]
    }
  }
}
</script>

