<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Transfer points</th>
          <th scope="col">Fee (Points)</th>
          <th scope="col">Status</th>
          <th scope="col">Recipient</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/11/2561 20:15</td>
          <td>1,000</td>
          <td>1,500</td>
          <td>Received</td>
          <td>Mr.Sample Sample</td>
          <td><button type="button" class="btn" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
        <tr>
          <td>30/9/2561 15:30</td>
          <td>3,000</td>
          <td>1,500</td>
          <td>Received</td>
          <td>Mr.Sample Sample</td>
          <td><button type="button" class="btn" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
        <tr>
          <td>15/05/2561 10:03</td>
          <td>1,000</td>
          <td>1,500</td>
          <td>Received</td>
          <td>Mr.Sample Sample</td>
          <td><button type="button" class="btn" v-b-modal.modal-topup-history>More information</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->
    <b-modal id="modal-topup-history" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <ModalTranferHistory @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import ModalTranferHistory from '@/components/modals/modalTranferHistory'

export default {
  name: 'TranferHistory',
  components: {
    ModalTranferHistory
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  },
  data() {
    return {
      items: [1,2,3,4,5,6]
    }
  }
}
</script>

