<template>
  <div class="tranfer-detail mb-5">
    <PhotoSlide class="responsive" />
    <div class="container">
      <h1 class="my-5"><img src="@/assets/icon-tranfer.png" alt="Icon tranfer"> รายละเอียดการโอนคะแนน</h1>
      <div class="card-partner-tranfer">
        <div class="row">
          <div class="col-lg-3">
            <img src="@/assets/Group 793.png" class="img-fluid" />
          </div>
          <div class="col-lg-9">
            <div class="d-flex flex-column h-100">
              <div class="h-100">
                <h4>xxxxxxxx</h4>
                <p>เดอะ นิว คอนเซปต์ พอยท์ โอนเป็นคะแนน The 1 ได้ง่ายๆ<br />
                  เดอะ นิว คอนเซปต์ พอยท์ จํานวน 100 คะแนน = The 1 จํานวน 400 คะแนน
                </p>
              </div>
              <div class="w-100 align-self-end">
                <router-link class="btn hvr-sweep-to-right" to="/tranfer">กลับ</router-link>
                <button class="btn hvr-sweep-to-right" v-b-modal.modal-tranfer>โอนคะแนน</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="mt-5">
        <li>กรุณานําโทรศัพท์เคลื่อนท่ีของท่านมากดรับสิทธิ์ ณ จุดจําหน่ายสินค้าและไม่สามารถรับสิทธิ์ได้จากการแสดงภาพที่บันทึกสิทธ์ิบนหน้าจอโทรศัพท์</li>
        <li>จํานวนจํากัด 10,000 สิทธิ/เดือน</li>
        <li>1 รหัสโปรโมชั่น 1 สิทธิ์/เดือน</li>
        <li>สามารถแลกรับสิทธิ์ได้ตังแต่วันนี จนถึง 31 ธันวาคม 2561</li>
        <li>ไม่สามารถแลกเปลี่ยนหรือทอนเป็นเงินสดได้ และไม่สามารถใช้ร่วมกับส่วนลดหรือโปรโมชั่นอ่ืนได้</li>
        <li>บริษัทฯ ขอสงวนสิทธิ์การแก้ไขหรือเปลี่ยนแปลงเงื่อนไขต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
        <li>บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิกหรือคืนคะแนนสะสมในทุกกรณี เมื่อยืนยันการแลกคะแนนเสร็จสมบูรณ์</li>
      </ul>
      <h5 class="mt-5">ข้อกําหนดและเงื่อนไข</h5>
      <ul>
        <li>กรุณานําโทรศัพท์เคลื่อนท่ีของท่านมากดรับสิทธิ์ ณ จุดจําหน่ายสินค้าและไม่สามารถรับสิทธิ์ได้จากการแสดงภาพที่บันทึกสิทธ์ิบนหน้าจอโทรศัพท์</li>
        <li>จํานวนจํากัด 10,000 สิทธิ/เดือน</li>
        <li>1 รหัสโปรโมชั่น 1 สิทธิ์/เดือน</li>
        <li>สามารถแลกรับสิทธิ์ได้ตังแต่วันนี จนถึง 31 ธันวาคม 2561</li>
        <li>ไม่สามารถแลกเปลี่ยนหรือทอนเป็นเงินสดได้ และไม่สามารถใช้ร่วมกับส่วนลดหรือโปรโมชั่นอ่ืนได้</li>
        <li>บริษัทฯ ขอสงวนสิทธิ์การแก้ไขหรือเปลี่ยนแปลงเงื่อนไขต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
        <li>บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิกหรือคืนคะแนนสะสมในทุกกรณี เมื่อยืนยันการแลกคะแนนเสร็จสมบูรณ์</li>
      </ul>
    </div>
    <!-- Modal Component -->
    <b-modal id="modal-tranfer" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <TranferPoint @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import PhotoSlide from '@/components/photoSlide'
import TranferPoint from '@/components/modals/modalTranfer/point'

export default {
  name: 'TranferDetail',
  components: {
    PhotoSlide,
    TranferPoint
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  }
}
</script>

