<template>
  <div class="tranfer-detail">
    <PhotoSlide class="responsive" />
    <div class="container">
      <h1 class="my-5"><img src="@/assets/icon-tranfer.png" alt="Icon tranfer"> Vacation Points Transfer details</h1>
      <div class="card-partner-tranfer">
        <div class="row">
          <div class="col-lg-3">
            <img src="@/assets/Group 793.png" class="img-fluid" />
          </div>
          <div class="col-lg-9">
            <div class="d-flex flex-column h-100">
              <div class="h-100">
                <h4 class="mt-20">Member Transfer</h4>
                <p>The experience club points can be transferred to member easily</p>
              </div>
              <div class="w-100 align-self-end">
                <router-link class="btn hvr-sweep-to-right" to="/tranfer-user">Back</router-link>
                <button class="btn hvr-sweep-to-right mt-20" v-b-modal.modal-tranfer>Transfer points</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"><h5 class="mt-5">Points Transfer</h5></div>
      </div>
      <div class="row">
        <div class="col-lg-12 mb-5">
          <ul>
            <li>Points transfer will be associated with fee which will be deducted from transferrer’s account.
              <table class="table mt-3 text-center w-table">
                <thead class="thead">
                  <tr>
                    <th>Vacation Points Transfer</th>
                    <th>Fee per session</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Up to 30,000 points</td>
                    <td>1,500 points</td>
                  </tr>
                  <tr>
                    <td>30,001 - 50,000 points</td>
                    <td>2,500 points</td>
                  </tr>
                  <tr>
                    <td>50,001 - 100,000 points</td>
                    <td>5,000 points</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>Recipient of points transfer must be a member only.</li>
            <li>Transfer points to Service Partners, regulations will be based from each individual partner’s company.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Modal Component -->
    <b-modal id="modal-tranfer" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <TranferUserPoint @click="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import PhotoSlide from '@/components/photoSlide'
import TranferUserPoint from '@/components/modals/modalTranfer/userPoint'

export default {
  components: {
    PhotoSlide,
    TranferUserPoint
  },
  name: 'TranferDetail',
  data() {
    return {
      partners: [
        { id: 1, name: 'โอนคะแนนระหว่างผู้ใช้', type: 1 }
      ]
    }
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemRef.hide()
    }
  }
}
</script>

