<template>
  <div class="tranfer-detail mb-5">
    <PhotoSlide class="responsive" />
    <div class="container">
      <h1 class="my-5"><img src="@/assets/icon-tranfer.png" alt="Icon tranfer"> Vacation Points Transfer</h1>
      <div class="card-partner-tranfer">
        <div class="row">
          <div class="col-lg-3">
            <img src="@/assets/Group 793.png" class="img-fluid" />
          </div>
          <div class="col-lg-9">
            <div class="d-flex flex-column h-100">
              <div class="h-100">
                <h4 class="mt-20">Vacation Points Transfer</h4>
                <div>
                  <p>The experience clup points can be transferred to member easily</p>
                </div>
              </div>
              <div class="w-100 align-self-end">
                <!--<router-link class="btn hvr-sweep-to-right" to="/tranfer-user">กลับ</router-link>-->
                <router-link class="btn hvr-sweep-to-right" to="/tranfer-user/1">More information</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PhotoSlide from '@/components/photoSlide'

export default {
  name: 'TranferUser',
  components: {
    PhotoSlide
  }
}
</script>

