<template>
  <div class="tranfer mb-5">
    <PhotoSlide class="responsive" />
    <div class="container">
      <h1 class="my-5"><img src="@/assets/icon-tranfer.png" alt="Icon tranfer"> โอนคะแนน</h1>
      <div v-for="partner in partners">
        <PartnerTranferCard :partner="partner" />
      </div>
    </div>
  </div>
</template>

<script>
import PhotoSlide from '@/components/photoSlide'
import PartnerTranferCard from '@/components/cards/partnerTranferCard'

export default {
  name: 'Tranfer',
  components: {
    PhotoSlide,
    PartnerTranferCard
  },
  data() {
    return {
      partners: [
        { id: 1, name: 'The 2' },
        { id: 2, name: 'The 3' }
      ]
    }
  }
}
</script>

