<template>
  <div class="border p-3 min-w-table">
    <table class="table table-mdf text-center">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Reward name</th>
          <th scope="col">Confirmation ID</th>
          <th scope="col">Status</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/11/2561</td>
          <td>The Exclusive</td>
          <td>A2379c3675</td>
          <td style="color: #43B94A;">Confirm</td>
          <td>
            <button type="button" class="btn mr-1" @click="showReservationComplete">View / Modify</button>
            <button type="button">Cancel</button>
          </td>
        </tr>
        <tr>
          <td>02/03/2561</td>
          <td>Pool Suite</td>
          <td>L2485m1289</td>
          <td style="color: #FFCC00;">Waiting confirm</td>
          <td>
            <button type="button" class="btn mr-1" @click="showReservationWaiting">View / Modify</button>
            <button type="button">Cancel</button>
          </td>
        </tr>
        <tr>
          <td>16/03/2561</td>
          <td>Khao restaurant...</td>
          <td>i8651285J55</td>
          <td style="color: #43B94A;">Confirm</td>
          <td>
            <button type="button" class="btn mr-1" @click="showReservationOther">View / Modify</button>
            <button type="button">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Component -->

    <!-- complete -->
    <b-modal id="ModalRedeemCompleteRef" ref="ModalRedeemCompleteRef" :hide-header="true" :hide-footer="true" size="lg">
      <div class="col-lg-8 offset-lg-2" v-if="step === 1">
        <h2 class="border-mdf text-center">The Exclusive</h2>
        <h4 class="text-center" style="color: #43B94A;">Confirm</h4>
        <div class="row">
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/1.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" class="img-fluid" />
          </div>
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/The Exclusive.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Hotel name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of arrival</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of departure</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Total of night</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 01</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of room(s)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: A02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Room type</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Club Superior</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of adult(12 years & up)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of children</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h4 class="border-mdf text-center mt-4" style="color: #FF0000">2,400 points</h4>
        <h4 class="text-center">Deduct</h4>
        <div class="row offset-sm-1 text-center mt-4">
          <div class="col-sm-5 text-center"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" @click="hideModal">Close</button></div>
          <div class="col-sm-6 text-center"><a href="#/limousine">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-20">Reserve a limousine</button>
          </a></div>
        </div>
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-3" @click="downloadConPDFHotel">Download Confirmation Letter</button>
        </div>
      </div>
    </b-modal>

    <!-- waiting -->
    <b-modal id="ModalRedeemWaitingRef" ref="ModalRedeemWaitingRef" :hide-header="true" :hide-footer="true" size="lg">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="border-mdf text-center">Pool Suite</h2>
        <h4 class="text-center" style="color: #FFCC00;">Waiting confirm</h4>
        <div class="row">
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/1.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" class="img-fluid" />
          </div>
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/The Exclusive.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Hotel name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of arrival</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of departure</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Total of night</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 01</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of room(s)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: A02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Room type</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Club Superior</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of adult(12 years & up)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of children</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h6 class="text-center mt-4">If you need help please contact : <br/>Phone : 053-442700, 053-442702 l Email : info@experienceclub.net</h6>
        <div class="row text-center mt-4">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm ml-auto mr-auto" @click="hideModal">Close</button>
        </div>
      </div>
    </b-modal>

    <!-- others -->
    <b-modal id="ModalRedeemOtherRef" ref="ModalRedeemOtherRef" :hide-header="true" :hide-footer="true" size="lg">
      <div class="col-lg-8 offset-lg-2" v-if="step === 1">
        <h2 class="border-mdf text-center">Khao restaurant at Four Seasons Resort Chiang Mai</h2>
        <h4 class="text-center" style="color: #43B94A;">Confirm</h4>
        <div class="row">
          <div class="col-lg-6 offset-lg-3 text-center mt-4">
            <img src="@/assets/4.Dinning/Dinning-1.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Mr.Sample Sample</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Time</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00:00</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of person</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h4 class="border-mdf text-center mt-4" style="color: #FF0000">10% discount</h4>
        <h4 class="text-center">Food & Beverage</h4>
        <div class="row offset-lg-1 text-center mt-4">
          <div class="col-sm-5 text-center"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" @click="hideModal">Close</button></div>
          <div class="col-sm-6 text-center"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-20" v-on:click="step = 2">Save voucher</button></div>
        </div>
        <!--<div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-3" @click="downloadConPDFOther">Download Confirmation Letter</button>
        </div>-->
      </div>
      <div class="col-lg-8 offset-lg-2" v-if="step === 2">
        <h2 class="text-center">Your reservation details</h2>
        <h4 class="text-center">Privilege Dining Discount<br/>Khao restaurant at Four Seasons Resort Chiang Mai</h4>
        <div class="text-center mt-4"><strong><label class="font-size-lg" style="color: #FF0000">10% discount</label>&nbsp;&nbsp;<label>Food & Beverage</label></strong></div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Mr.Sample Sample</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Time</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00:00</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of person</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row offset-sm-4 text-center mt-4">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" v-on:click="step = 3">Save voucher</button>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1 mt-4 text-center point-degail-modal" v-if="step === 3">
        <img src="@/assets/Group 3964.png" class="img-fluid">
        <div class="col-lg-4 offset-lg-4 my-3 mt-5">
            <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="hideModal">Save voucher</button>
        </div>
      </div>
    </b-modal>

    <!--<b-modal id="modal-history-point" ref="ModalRedeemRef" :hide-header="true" :hide-footer="true" size="lg">
      <UsingPointDetail @click="hideModal" />
    </b-modal>-->
    
  </div>
</template>

<script>
import jsPDF from 'jspdf'
import 'jspdf-autotable';

export default {
  name: 'HistoryPoint',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    hideModal() {
      this.$refs.ModalRedeemCompleteRef.hide()
      this.$refs.ModalRedeemWaitingRef.hide()
      this.$refs.ModalRedeemOtherRef.hide()
    },
    showReservationComplete () {
      this.$refs.ModalRedeemCompleteRef.show()
      //this.$refs.ModalRedeemWaitingRef.hide()
      //this.$refs.ModalRedeemOtherRef.hide()
    },
    showReservationWaiting () {
      this.$refs.ModalRedeemWaitingRef.show()
      //this.$refs.ModalRedeemCompleteRef.hide()
      //this.$refs.ModalRedeemOtherRef.hide()
    },
    showReservationOther () {
      this.$refs.ModalRedeemOtherRef.show()
      //this.$refs.ModalRedeemCompleteRef.hide()
      //this.$refs.ModalRedeemWaitingRef.hide()
    },
    downloadConPDFHotel () { 
      let ID = '987654321';
      let pdfName = 'ConfirmationLetter' + ID;
      var doc = new jsPDF('A4');
      // tranform pic at https://dataurl.sveinbjorn.org/#dataurlmaker
      doc.setFontSize(21);
      doc.setFontType('bold')
      doc.text("The Experience Club", 10, 15);
      doc.setFontSize(12);
      doc.setFontType('normal')
      doc.text("Date: 00/00/0000, 00:00", 10, 25); // current
      doc.setFontSize(16);
      doc.text(this.name, 10, 35);
      // look more information about picture at https://parall.ax/products/jspdf
      doc.autoTable({ startY: 155,
        body: [
          ['Hotel name', 'Lorem ipsum dolor sit amet'],
          ['Guest name', 'Mr.Sample Sample'],
          ['Date of arrival', '00/00/0000'],
          ['Date of departure', '00/00/0000'],
          ['Total of night', '01'],
          ['Number of room(s)', 'A02'],
          ['Room type', 'Club Superior'],
          ['Number of adult(12 years & up)', '02'],
          ['Number of children', '02'],
          ['Points', '2,400 points'],
        ]
      });
      doc.save(pdfName + '.pdf');
    }
  }
}
</script>

