<template>
  <div class="card card-category">
    <img class="card-img-top" src="@/assets/photo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Club & Lounge Experience</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">More Information</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CategoryCard',
  props: {
    arr: {
      type: Array,
      default: () => []
    }
  }
}
</script>

