<template>
<div class="row">
  <div class="modal-tranfer" v-if="step === 1">
    <h1 class="tranfer-title">Your borrow points detail</h1>
    <h4 class="tranfer-title">It may take a few moments for this borrow points.</h4>
    <div class="col-lg-8 offset-lg-4">
      <label class="col-sm-4 col-form-label w-50">Borrow points</label>
      <label class="col-sm-4 col-form-label w-50">: 10,00 points</label>
    </div>
    <div class="col-lg-8 offset-lg-4">
      <label class="col-sm-4 col-form-label w-50">Fee per session</label>
      <label class="col-sm-4 col-form-label w-50">: 1,500 points</label>
    </div>
    <div class="row mt-4 change-point">
      <div class="col-lg-2 text-center ml-3 mr-4">
        <span class="d-block">100,000</span>Points Now
      </div>
      <div class="col-lg-1 text-center pl-5">
        <img src="@/assets/icon-redeem.png" alt="icon redeem">
      </div>
      <div class="col-lg-2 text-center">
        <span class="d-block">10,000</span>Borrow points
      </div>
      <div class="col-lg-1 text-center pr-0">
        <img src="@/assets/icon-redeem.png" alt="icon redeem">
      </div>
      <div class="col-lg-2 text-center pl-0">
        <span class="d-block">1,500</span>fee
      </div>
      <div class="col-lg-1 text-center pr-0">
        <img src="@/assets/icon-redeem.png" alt="icon redeem">
      </div>
      <div class="col-lg-2 text-center pl-0">
        <span class="d-block">108,500</span>Balance
      </div>
      <div class="col-lg-8 offset-lg-2 mt-4">
        <div class="row m-btn">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('close-modal', false)">Back</button>
          </div>
            <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 offset-lg-2 text-center" v-if="step === 2">
    <h1 class="mt-3 pb-2 mb-4">The borrow points transaction is Successful</h1>
    <h4 class="mt-3 pb-2 mb-4">Your points balance 108,500 points</h4>
    <div class="row">
      <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 px-5 mb-2 w-100" v-on:click="$emit('close-modal', false)">Close</button>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'BorrowTranferPoint',
  data() {
    return {
      step: 1,
    }
  }
}
</script>

