<template>
  <div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 mt-4 text-center point-degail-modal">
        <h1 class="text-danger">Top up 100 baht</h1>
        <p>
          Top up 100 baht<br />
          = <br />
          Experience Club 100 points
        </p>
        <div class="mt-5">
          Top up date 12/11/2561<br />
          <hr style="width: 100px" class="mb-0" />
          <p class="text-danger pt-2">Valid until 12/11/2562</p>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-4 my-3">
        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalTopupHistory',
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    }
  }
}
</script>

