<template>
  <div class="modal-dialog modal-lg modal-redeem">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center mt-3">แลกสิทธ์จิองห้องพัก<br />
          The New concept</h3>
        <h5 class="text-center my-4">จองห้องพัก Delux เหลือ2เวลาอีก 21 วัน 4 คืน </h5>
        <div class="row">
          <div class="col-lg-8 offset-lg-2 mt-4">
            <form>
              <div class="form-group row">
                <label for="nampInp" class="col-sm-4 col-form-label">ชื่อ-นามสกุล</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="nampInp">
                </div>
              </div>
              <div class="form-group row">
                <label for="checkinInp" class="col-sm-4 col-form-label">Check In</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="checkinInp">
                </div>
              </div>
              <div class="form-group row">
                <label for="checkOut" class="col-sm-4 col-form-label">Check Out</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="checkOut">
                </div>
              </div>
              <div class="form-group row">
                <label for="adsInp" class="col-sm-4 col-form-label">ที่อยู่</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="adsInp">
                </div>
              </div>
              <div class="form-group row">
                <label for="telInp" class="col-sm-4 col-form-label">เบอร์โทร</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="telInp">
                </div>
              </div>
              <div class="form-group row">
                <label for="emailInp" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="emailInp">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 offset-lg-3 my-3">
                  <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100">ยืนยัน</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormRedeemRoom'
}
</script>

