<template>
  <!-- swiper -->
  <swiper :options="swiperOption" class="mt-5">
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <swiper-slide><img src="@/assets/logo.png" class="img-fluid" /></swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
// require styles
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'LogoSlide',
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 50,
        autoplay: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          1024: {
            slidesPerView: 4,
            spaceBetween: 40
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 30
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      }
    }
  }
}
</script>
