<template>
  <form>
    <div class="form-group row">
      <label for="nampInp" class="col-sm-4 col-form-label">Telephone Number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="checkOut">
      </div>
    </div>
    <div class="form-group row">
      <label for="banknameInp" class="col-sm-4 col-form-label">ID Card</label>
      <div class="col-sm-8">
         <input type="text" class="form-control" id="checkOut">
      </div>
    </div>
    <div class="form-group row">
      <label for="nampInp" class="col-sm-4 col-form-label">Account Holder</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="nampInp">
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: 'PromptpayForm'
}
</script>

