<template>
  <div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="text-center mt-3 mb-4 pb-3 border-bottom">รายละเอียดการเติมเงิน <br /> เดอะ นิว คอนเซปต์</h1>
        <div class="row text-center">
          <div class="col-lg-4">
            <img src="@/assets/img-topup.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <h1 class="text-danger">เติมเงิน 100 บาท</h1>
            <p>
              เติมเงิน 100 บาท <br />
              = <br />
              เดอะ นิว คอนเซปต์ พอยท์ จํานวน 100 คะแนน
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-10 offset-lg-1">
        <h6>ข้อกําหนดและเงื่อนไข</h6>
        <ul>
          <li>กรุณานําโทรศัพท์เคลื่อนท่ีของท่านมากดรับสิทธิ์ ณ จุดจําหน่ายสินค้าและไม่สามารถรับสิทธิ์ได้จากการแสดงภาพที่บันทึกสิทธ์ิบนหน้าจอโทรศัพท์</li>
          <li>จํานวนจํากัด 10,000 สิทธิ/เดือน</li>
          <li>1 รหัสโปรโมชั่น 1 สิทธิ์/เดือน</li>
          <li>สามารถแลกรับสิทธิ์ได้ตังแต่วันนี จนถึง 31 ธันวาคม 2561</li>
          <li>ไม่สามารถแลกเปลี่ยนหรือทอนเป็นเงินสดได้ และไม่สามารถใช้ร่วมกับส่วนลดหรือโปรโมชั่นอ่ืนได้</li>
          <li>บริษัทฯ ขอสงวนสิทธิ์การแก้ไขหรือเปลี่ยนแปลงเงื่อนไขต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
          <li>บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิกหรือคืนคะแนนสะสมในทุกกรณี เมื่อยืนยันการแลกคะแนนเสร็จสมบูรณ์</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopupDetail'
}
</script>

