<template>
  <div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h3 class="mt-3 pb-2 mb-4 border-bottom">เติมเงิน</h3>
        <div class="form-group row">
          <label for="priceInp" class="col-sm-4 col-form-label">จํานวนเงิน (บาท)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="priceInp">
          </div>
        </div>
        <h6 class="mt-3">การเติมเงินและผูกบัญชีธนาคาร</h6>
        <b-tabs>
          <b-tab active>
            <template slot="title">
              <img src="@/assets/icon-bookbank.png" alt="icon bookbank">
            </template>
            <BookbankForm />
          </b-tab>
          <b-tab title="Tab 2">
            <template slot="title">
              <img src="@/assets/icon-craditcard.png" alt="icon craditcard">
            </template>
            <CraditcardForm />
          </b-tab>
          <b-tab title="Tab 3">
            <template slot="title">
              <img src="@/assets/icon-promptpay.png" alt="icon promptpay">
            </template>
            <PromptpayForm />
          </b-tab>
        </b-tabs>

        <h6 class="mt-5">เงื่อนไข</h6>
        <ul class="font-size-sm">
          <li>กรุณานําโทรศัพท์เคลื่อนท่ีของท่านมากดรับสิทธิ์ ณ จุดจําหน่ายสินค้าและไม่สามารถรับสิทธิ์ได้จากการแสดงภาพที่บันทึกสิทธ์ิบนหน้าจอโทรศัพท์</li>
          <li>จํานวนจํากัด 10,000 สิทธิ/เดือน</li>
          <li>1 รหัสโปรโมชั่น 1 สิทธิ์/เดือน</li>
          <li>สามารถแลกรับสิทธิ์ได้ตังแต่วันนี จนถึง 31 ธันวาคม 2561</li>
          <li>ไม่สามารถแลกเปลี่ยนหรือทอนเป็นเงินสดได้ และไม่สามารถใช้ร่วมกับส่วนลดหรือโปรโมชั่นอ่ืนได้</li>
          <li>บริษัทฯ ขอสงวนสิทธิ์การแก้ไขหรือเปลี่ยนแปลงเงื่อนไขต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า</li>
          <li>บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิกหรือคืนคะแนนสะสมในทุกกรณี เมื่อยืนยันการแลกคะแนนเสร็จสมบูรณ์</li>
        </ul>

        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('close-modal', false)">ยกเลิก</button>
          </div>
            <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100">ตกลง</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BookbankForm from '@/components/BookbankForm'
import CraditcardForm from '@/components/CraditcardForm'
import PromptpayForm from '@/components/PromptpayForm'

export default {
  name: 'TopupForm',
  components: {
    BookbankForm,
    CraditcardForm,
    PromptpayForm
  },
}
</script>

