<template>
  <div class="modal-redeem">
    <div class="row my-3">
      <!-- hotel and resort -->
      <div class="col-lg-8 offset-lg-2" v-if="step === 1">
        <h2 class="border-mdf text-center">The Exclusive</h2>
        <h4 class="text-center" style="color: #43B94A;">Complete</h4>
        <div class="row">
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/1.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" class="img-fluid" />
          </div>
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/The Exclusive.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Hotel name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of arrival</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of departure</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Total of night</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 01</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of room(s)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: A02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Room type</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Club Superior</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of adult(12 years & up)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of children</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h4 class="border-mdf text-center mt-4" style="color: #FF0000">2,400 points</h4>
        <h4 class="text-center">Redeemed on 12/11/2561</h4>
        <div class="text-center mt-4"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" @click="handleCloseClick">Close</button></div>
      </div>

      <!-- others -->
      <div class="col-lg-8 offset-lg-2" v-if="step === 2">
        <h2 class="border-mdf text-center">Khao restaurant at Four Seasons Resort Chiang Mai</h2>
        <h4 class="text-center" style="color: #43B94A;">Complete</h4>
        <div class="row">
          <div class="col-lg-6 offset-lg-3 text-center mt-4">
            <img src="@/assets/4.Dinning/Dinning-1.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Mr.Sample Sample</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Time</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00:00</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of person</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h4 class="border-mdf text-center mt-4" style="color: #FF0000">10% discount</h4>
        <h4 class="text-center">Redeemed on 16/03/2561</h4>
        <div class="text-center mt-4"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" @click="handleCloseClick">Close</button></div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'UsedPointDetail',
  data() {
    return {
      step: 1,
      //data = 1 :hotel and resort
      //data = 2 :others
    }
  },
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    }
  }
}
</script>

