<template>
  <div class="modal-redeem">
    <div class="row my-3">
      <!-- complete -->
      <div class="col-lg-8 offset-lg-2" v-if="step === 1">
        <h2 class="border-mdf text-center">The Exclusive</h2>
        <h4 class="text-center" style="color: #43B94A;">Confirm</h4>
        <div class="row">
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/1.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" class="img-fluid" />
          </div>
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/The Exclusive.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Hotel name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of arrival</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of departure</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Total of night</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 01</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of room(s)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: A02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Room type</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Club Superior</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of adult(12 years & up)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of children</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h4 class="border-mdf text-center mt-4" style="color: #FF0000">2,400 points</h4>
        <h4 class="text-center">Deduct</h4>
        <div class="row offset-sm-1 text-center mt-4">
          <div class="col-sm-5 text-center"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" @click="handleCloseClick">Close</button></div>
          <div class="col-sm-6 text-center"><a href="#/limousine">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-20">Reserve a limousine</button>
          </a></div>
        </div>
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-3" @click="downloadConPDFHotel">Download Confirmation Letter</button>
        </div>
      </div>

      <!-- waiting -->
      <div class="col-lg-8 offset-lg-2" v-if="step === 2">
        <h2 class="border-mdf text-center">Pool Suite</h2>
        <h4 class="text-center" style="color: #FFCC00;">Waiting confirm</h4>
        <div class="row">
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/1.the-new-concept-perfect-residence-condo-hang-dong-5b642315a12eda3cbf0019ba_full.jpg" class="img-fluid" />
          </div>
          <div class="col-lg-6 text-center mt-4">
            <img src="@/assets/3.hotel and resort/The Exclusive.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Hotel name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Lorem ipsum dolor sit amet</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of arrival</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date of departure</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Total of night</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 01</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of room(s)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: A02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Room type</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Club Superior</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of adult(12 years & up)</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of children</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h6 class="text-center mt-4">If you need help please contact : <br/>Phone : 053-442700, 053-442702 l Email : info@experienceclub.net</h6>
        <div class="row text-center mt-4">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm ml-auto mr-auto" @click="handleCloseClick">Close</button>
        </div>
      </div>

      <!-- others -->
      <div class="col-lg-8 offset-lg-2" v-if="step === 3">
        <h2 class="border-mdf text-center">Khao restaurant at Four Seasons Resort Chiang Mai</h2>
        <h4 class="text-center" style="color: #43B94A;">Confirm</h4>
        <div class="row">
          <div class="col-lg-6 offset-lg-3 text-center mt-4">
            <img src="@/assets/4.Dinning/Dinning-1.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Mr.Sample Sample</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Time</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00:00</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of person</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <h4 class="border-mdf text-center mt-4" style="color: #FF0000">10% discount</h4>
        <h4 class="text-center">Food & Beverage</h4>
        <div class="row offset-lg-1 text-center mt-4">
          <div class="col-sm-5 text-center"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" @click="handleCloseClick">Close</button></div>
          <div class="col-sm-6 text-center"><button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-20" v-on:click="step = 4">Save voucher</button></div>
        </div>
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm mt-3" @click="downloadConPDFOther">Download Confirmation Letter</button>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2" v-if="step === 4">
        <h2 class="text-center">Your reservation details</h2>
        <h4 class="text-center">Privilege Dining Discount<br/>Khao restaurant at Four Seasons Resort Chiang Mai</h4>
        <div class="text-center mt-4"><strong><label class="font-size-lg" style="color: #FF0000">10% discount</label>&nbsp;&nbsp;<label>Food & Beverage</label></strong></div>
        <div class="row mt-4">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Guest name</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: Mr.Sample Sample</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Date</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00/00/0000</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Time</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 00:00</strong></p></div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-1"><p class="mb-0"><strong>Number of person</strong></p></div>
          <div class="col-sm-6"><p class="mb-0"><strong>: 02</strong></p></div>
        </div>
        <div class="row offset-sm-5 text-center mt-4">
          <button type="submit" class="btn btn-mdf hvr-sweep-to-right font-size-sm" v-on:click="step = 5">Save voucher</button>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1 mt-4 text-center point-degail-modal" v-if="step === 5">
        <img src="@/assets/Group 3964.png" class="img-fluid">
        <div class="col-lg-4 offset-lg-4 my-3 mt-5">
            <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">Save voucher</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jsPDF from 'jspdf'
import 'jspdf-autotable';

export default {
  name: 'UsingPointDetail',
  data() {
    return {
      step: 1,
      //data = 1 :complete
      //data = 2 :waiting
      //data = 3 :other with voucher
      name: 'Confirmation Letter of The Exclusive'
    }
  },
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    },
    downloadConPDFHotel () { 
      let ID = '987654321';
      let pdfName = 'ConfirmationLetter' + ID;
      var doc = new jsPDF('A4');
      doc.setFontSize(21);
      doc.setFontType('bold')
      doc.text("The Experience Club", 10, 15);
      doc.setFontSize(12);
      doc.setFontType('normal')
      doc.text("Date: 00/00/0000, 00:00", 10, 25); // current
      doc.setFontSize(16);
      doc.text(this.name, 10, 35);
      // look more information about picture at https://parall.ax/products/jspdf
      doc.addImage(imgData, 'JPEG', 20, 45, 150, 100);
      doc.autoTable({ startY: 155,
        body: [
          ['Hotel name', 'Lorem ipsum dolor sit amet'],
          ['Guest name', 'Mr.Sample Sample'],
          ['Date of arrival', '00/00/0000'],
          ['Date of departure', '00/00/0000'],
          ['Total of night', '01'],
          ['Number of room(s)', 'A02'],
          ['Room type', 'Club Superior'],
          ['Number of adult(12 years & up)', '02'],
          ['Number of children', '02'],
          ['Points', '2,400 points'],
        ]
      });
      doc.save(pdfName + '.pdf');
    },
    downloadConPDFOther () { 
      let ID = '123456789';
      let pdfName = 'ConfirmationLetter' + ID;
      var doc = new jsPDF('A4');
      doc.setFontType('bold')
      doc.text("The Experience Club", 10, 15);
      doc.setFontSize(12);
      doc.setFontType('normal')
      doc.text("Date: 00/00/0000, 00:00", 10, 25); // current
      doc.setFontSize(16);
      doc.text(this.name, 10, 35);
      // look more information about picture at https://parall.ax/products/jspdf
      doc.addImage(imgData, 'JPEG', 20, 45, 150, 100);
      doc.autoTable({ startY: 155,
        body: [
          ['Guest name', 'Mr.Sample Sample'],
          ['Date of reserve', '00/00/0000'],
          ['Time', '00:00'],
          ['Number of person', '02'],
          ['Discount', '10%'],
          ['Type', 'Food & Beverage'],
        ]
      });
      doc.save(pdfName + '.pdf'); 
    }
  }
}
</script>

