<template>
  <form>
    <div class="form-group row">
      <label for="checkinInp" class="col-sm-4 col-form-label">Check In</label>
      <div class="col-sm-8">
        <datepicker input-class="form-control"></datepicker>
      </div>
    </div>
    <div class="form-group row">
      <label for="checkOut" class="col-sm-4 col-form-label">Check Out</label>
      <div class="col-sm-8">
        <datepicker input-class="form-control"></datepicker>
      </div>
    </div>
    <div class="form-group row">
      <label for="adsInp" class="col-sm-4 col-form-label">สอบถามเพิ่มเติม</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="adsInp"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 my-3">
        <button type="button" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('step-btn', 2)">ยืนยัน</button>
      </div>
    </div>
  </form>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
  name: 'RedeemRoomForm',
  components: {
    Datepicker
  }
}
</script>

