<template>
  <div class="modal-tranfer">
    <h1 class="tranfer-title">Transfer Points</h1>
    <p class="tranfer-change">
      เดอะ นิว คอนเซปต์ พอยท์ จํานวน 100 คะแนน <br />
      = <br />
      The 1 จํานวน 400 คะแนน
    </p>
    <div class="row change-point">
      <img src="@/assets/icon-redeem.png" alt="icon redeem">
      <div class="col-lg-6 text-center pr-5">
        The 2<br />
        <input type="text" class="form-control" value="200">
        คะแนน</div>
      <div class="col-lg-6 text-center pl-5">The 1<br /><span class="d-block">10,000</span> คะแนน</div>
      <div class="col-lg-8 offset-lg-2 mt-4">
        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right" @click="handleCloseClick">กลับ</button>
          </div>
            <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right">ยืนยันโอนคะแนน</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TranferPoint',
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    }
  }
}
</script>

