<template>
  <div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="text-center mt-3 mb-4 pb-3 border-bottom">Borrow points details<br />Experience Club</h1>
        <div class="row text-center">
          <div class="col-lg-4">
            <img src="@/assets/img-topup.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <h4 class="text-danger">Borrow points 10,000 points</h4>
            <p>
              Borrow points 10,000 points<br />
              = <br />
              Experience Club 10,000 points
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 tranfer-detail">
      <div class="col-lg-10 offset-lg-1">
        <h6>Terms & Condition</h6>
        <ul>
          <li>Experience Club Co., Ltd. is a company who responsible for managing, coordinating guest’s reservation and providing service requests only.</li>
          <li>Local rules and regulations must be obeyed in accordance to Service Provideror Owner of the Area.</li>
          <li>Service Provider or Owner of the Area reserved all rights to keep terms and condition updated and must notify all changes to Experience Club within 30
          days prior to launching date (or in the case of urgent modifications, must be inform not less than 7 business working days.)</li>
          <li> In the event of insecurities or disasters, Service Provider or Owner of the area is to be solely responsible.</li>
        </ul>
        <table class="table mt-3 text-center">
          <thead class="thead">
            <tr>
              <th>Vacation Points Transfer</th>
              <th>Fee per session</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Up to 30,000 points</td>
              <td>1,500 points</td>
            </tr>
            <tr>
              <td>30,001 - 50,000 points</td>
              <td>2,500 points</td>
            </tr>
            <tr>
              <td>50,001 - 100,000 points</td>
              <td>5,000 points</td>
            </tr>
          </tbody>
        </table>
        <div class="col-lg-8 offset-lg-2 mt-4">
          <div class="row">
            <div class="col-lg-6">
              <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('close-modal', false)">Back</button>
            </div>
            <div class="col-lg-6">
              <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="$emit('close-modal', false)">Agree</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BorrowPointDetail'
}
</script>

