<template>
  <div id="app" class="m-0" style="padding-top: 89px;">
    <Header v-if="hide" />
    <router-view></router-view>
    <Footer v-if="hide" />
  </div>
</template>

<script>
import Header from './components/shared/header'
import Footer from './components/shared/footer'

export default {
  name: 'app',
  components: {
    Header,
    Footer
  }, 
  computed: {
    hide () {
      if (this.$route.path === '/signin/login' || this.$route.path === '/signin/reset-password' || this.$route.path === '/signin/condition' || this.$route.path === '/signin/success') {
        return false
      }
      else {
        return true
      } 
    }
  }
}
</script>

<style lang="scss">
@import "./styles/app.scss";
</style>