<template>
  <div class="modal-reserve">
    <h1 class="tranfer-title">Details of the reservation</h1>
    <h2 class="tranfer-title">Chef Choice-Cooking lesson</h2>
    <!--<div class="row">
      <div class="col-lg-8 offset-2">
        <form>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Date</label>
            <div class="col-sm-7">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
            </script>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">จำนวนคะแนนโอน</label>
            <div class="col-sm-7">
              <input type="text" class="form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4 change-point" v-if="step === 1">
      <img src="@/assets/icon-redeem.png" alt="icon redeem">
      <div class="col-lg-6 text-center pr-5">Supawade<br />
        <span class="d-block">200</span>คะแนน
      </div>
      <div class="col-lg-6 text-center pl-5">Jaruone<br />
        <span class="d-block">200</span>คะแนน
      </div>
      <div class="col-lg-8 offset-lg-2 mt-4">
        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">กลับ</button>
          </div>
            <div class="col-lg-6">
            <button type="submit" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" v-on:click="step = 2">ยืนยันโอนคะแนน</button>
          </div>
        </div>
      </div>
    </div>
    <div class="changed-point text-center mt-3" v-if="step === 2">
      <h1>ขอบคุณสําหรับการโอนคะแนน</h1>
      <div class="row">
        <div class="col-lg-8 offset-lg-2 mt-4">
          <div class="row">
            <div class="col-lg-6 offset-lg-3 my-3">
              <button type="sutton" class="btn btn-mdf hvr-sweep-to-right py-2 mb-2 w-100" @click="handleCloseClick">ปิด</button>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
export default {
  name: 'ModalReserve',
  data() {
    return {
      step: 1,
    }
  },
  methods: {
    handleCloseClick() {
      this.$emit('click', this)
    }
  }
}
</script>

